.tabs {
  border-radius: 8px;
  overflow: hidden;

	input:checked {
	  + .tab-label {
	    background: darken($black, 10%);
	    &::after {
	      transform: rotate(90deg);
	    }
	  }
	  ~ .tab-content {
	    max-height: 100vh;
	    padding: 1em;
	  }


	}

		input{
		position: absolute;
    opacity: 0;
    z-index: -1;
	}

	.list-bullet li{
		margin-bottom: 0;
	}


}
.tab {
  width: 100%;
  color: $off-white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $black;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($black, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $off-white;
    //background: $black;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    //background: $black;
    cursor: pointer;
    &:hover {
      background: darken($black, 10%);
    }
  }
	.list-bullet{
		margin-bottom: 0;
	}

}
