.background-1{
  background-image: url("/assets/img/containers-bg.png");
  background-repeat: no-repeat;
/*  background-position: 0 70%;*/
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.background-2{
  background-image: url("/assets/img/bg-1.jpg");
  background-repeat: no-repeat;
/*  background-position: 0 70%;*/
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.background-3{
  background-image: url("/assets/img/bg-2.jpg");
  background-repeat: no-repeat;
/*  background-position: 0 70%;*/
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.background-4{
  background-image: url("/assets/img/bg-3.jpg");
  background-repeat: no-repeat;
/*  background-position: 0 70%;*/
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.background-5{
  background-image: url("/assets/img/bg-4.jpg");
  background-repeat: no-repeat;
/*  background-position: 0 70%;*/
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.background-6{
  background-image: url("/assets/img/bg-5.jpg");
  background-repeat: no-repeat;
/*  background-position: 0 70%;*/
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.background-7{
  background-image: url("/assets/img/bg-6.jpg");
  background-repeat: no-repeat;
/*  background-position: 0 70%;*/
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.fixed-background{
    background: url("/assets/img/bg-4.jpg") no-repeat 50% fixed / cover;
}
