@mixin background-size(){
  background-repeat: no-repeat;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.background-1{
  background-image: url("/assets/img/containers-bg.png");
  @include background-size()
}
.background-2{
  background-image: url("/assets/img/bg-1.jpg");
  @include background-size()
}
.background-3{
  background-image: url("/assets/img/bg-2.jpg");
  @include background-size()
}
.background-4{
  background-image: url("/assets/img/bg-3.jpg");
  @include background-size()
}
.background-5{
  background-image: url("/assets/img/bg-4.jpg");
  @include background-size()
}
.background-6{
  background-image: url("/assets/img/bg-5.jpg");
  @include background-size()
}
.background-7{
  background-image: url("/assets/img/bg-6.jpg");
  @include background-size()
}

.fixed-background{
  background-image: url("/assets/img/bg-4.jpg");
  @include background-size()
}
.background-fixed{
  background-attachment: fixed;
}

body.background-fixed:after{
  content:"";
  position:fixed; /* stretch a fixed position to the whole screen */
  top:0;
  height:100vh; /* fix for mobile browser address bar appearing disappearing */
  left:0;
  right:0;
  z-index:-1; /* needed to keep in the background */
  @include background-size()
}
