ul.tags{
	list-style: none;
	margin-top: 1em;
}

ul.tags li{
	border: solid 1px $red;
	border-radius: .6em;
	display: inline-block;
	padding: .1em .4em;
	font-size: .7em;
	margin-right: .6em;
	&:hover{
		background-color: $red;
		a{
			color: $white;
			@include transition-hover()
		}
	}
	a:hover{
		text-decoration: none;
	}
}

.blog-post-main-image{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:100%;
    height:400px;
		margin-top: -10px;
}
.blog-post-thumbnail-outer-div{
  height: 200px;
  overflow: hidden;
}
.blog-post-thumbnail{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width:100%;
  height:200px;
	transition: all 0.5s ease;
}

a:hover .blog-post-thumbnail {
  transform: scale(1.1);
}

.blog-head{
	h1{
		font-size: 2em;
		margin-bottom: 1em;
	}
	.meta{
		list-style: none;
		font-size: .8em;
		margin-top: .3em;
		display: inline-block;
		li{
			margin-bottom: .2em;
			display: block;
			margin-right: 2em;
		}
	}
}

.generic-user{
	font-size: 3.2em;
	float: left;
	margin-right: .2em;
}

.profile-image {
	width: 64px;
  height: 64px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-right: .6em;
}
.blog-body{
	h1,h2,h3,h4,h5,h6{
		margin-bottom: .6em;
	}
	h1{
		font-size: 1.3em;
	}
	h2{
		font-size: 1.1em;
	}
	h3{
		font-size: 1em;
	}
	h4{
		font-size: .9em;
	}
	h5{
		font-size: .8em;
	}
	h6{
		font-size: .7em;
	}
	margin-top: 1em;
	p{
		margin-bottom: 1em;
	}
	ul,ol{
		margin: 1em 0 1em 2em;
		li{
			p{
				margin-bottom: 0;
			}
		}
	}
	.parsley-errors-list{
		margin: 2px 0 10px;
	}
	img{
		width: 100%;
	}
}
blockquote{
	border-left: solid 4px $off-white;
  padding-left: .8em;
  font-style: italic;
}
bold{
	font-weight: 800;
}
italic{
	font-style: italic;
}

code{
	font-family: monospace;
	padding: .2em;
  border: solid 1px $dark-grey;
  border-radius: .4em;
	background-color: #292d34;
	color: #e06c75;
	margin-bottom: 2em;
}

pre code{
	color: #454c31;
	padding: .8em;
	background-color: $dark-blue;
	display: block;
	overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

//x-small
@media (max-width: 320px) {
	.generic-user{
		font-size: 2em;
		float: none;
	}
	.blog-head{
		h1{
			font-size: 1em;
		}
		.meta{
			font-size: .6em;
		}
	}
	.blog-post-main-image {
    height: 200px;
	}

}
//small
@media screen and (min-width:321px) and (max-width: 575.98px){
	.generic-user{

	}
	.blog-head{
		h1{
			font-size: 1.2em;
		}
	}
	.blog-post-main-image {
		height: 200px;
	}

}
//medium
@media screen and (min-width:575.99px) and (max-width:768px){
	.generic-user{
		font-size: 3em;
	}
	.blog-post-main-image {
		height: 260px;
	}
}
//large
@media screen and (min-width:769px) and (max-width:992px){
	.generic-user{
		font-size: 3em;
	}
}
