.breadcrumbs{
  list-style: none;
  font-size: .9em;
  margin-bottom: 1em;
  li+li:before {
    padding: 8px;
    color: $off-white;
    content: "/\00a0";
  }
  li{
    display: inline;
  }
}


//x-small
@media (max-width: 320px) {
  .breadcrumbs{
    font-size: .8em;
  }
}
//small
@media screen and (min-width:321px) and (max-width: 575.98px){
  .breadcrumbs{

    font-size: .8em;
    li+li:before {
      padding: 4px;
    }
  }
}


//medium
@media screen and (min-width:575.99px) and (max-width:768px){
  .breadcrumbs{
    font-size: .8em;
    li+li:before {
      padding: 4px;
    }
  }

}
//large
@media screen and (min-width:769px) and (max-width:992px){
  .breadcrumbs{
    font-size: 1em;
    li+li:before {
      padding: 4px;
    }
  }
}
