.social-icons li a {
  color: #fff;
  display: block;
  font-size: 15px;
  height: 35px;
  line-height: 34px;
  text-align: center;
  width: 35px;
}
.social-icons  li {
  color: #696969;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  margin-right: .2em;
  margin-left: .2em;
  margin-bottom: .6em;
  -webkit-transition-duration: .3s;
  transition-duration: 0.3s;
}

.social-icons li:hover {
    background: #fff;
    border-color: #fff;
}
.social-icons li:hover a{

  color: #696969;
}


.services-icons{
  font-size: 3em;
  margin-top: -.7em;
  color: #c3073f;
}


//x-small
@media (max-width: 320px) {

}
//small
@media screen and (min-width:321px) and (max-width: 575.98px){

}
//medium
@media screen and (min-width:575.99px) and (max-width:768px){

}
//large
@media screen and (min-width:769px) and (max-width:992px){
  .social-icons li a {
    font-size: 10px;
    height: 28px;
    line-height: 26px;;
    width: 28px;
  }
}
