
nav{
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(0,0,0,1);
  height: 54px;
 a.appvia-logo{
   margin: 1em;
   display: inline-block;
 }
}

nav img{
  width: 100px;
}


@media (min-width: 999px) {
  nav img{
    width: 160px;
  }
  nav{
    height: 70px;
  }
}
