{% import "partials/nav-items.html" as navigation %}
{% import "partials/footer-form.html" as stayInTouch %}

{% macro footer() %}

  <footer class="mt-4">
    <div class="center-column">
      <div class="row mt-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <h2 class="mb-1">Stay in Touch</h2>
          <p>Signing up to our newsletter for news on our latest products and more.</p>
          <p class="small">You may unsubscribe from these communications at any time for more information please review our <a href="/privacy-policy">Privacy Policy</a>.</p>
          <p class="small">* Required fields</p>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            {{  stayInTouch.form() }}
          </div>

        </div>
      <hr class="mt-4 mb-4" />
      <div class="row mb-4">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <a href="/" class="appvia-logo"><img src="../../assets/img/appvia_logo.svg" style="width:180px"></a>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <h3>Our Products</h3>
              <ul>
                <li><a href="/products/hub">Appvia Hub</a></li>
                <li><a href="/products/kubernetes-security-scanner">KSS</a></li>
              <ul>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <h3>Our Services</h3>
              <ul>
                <li><a href="/services/consultancy">Consultancy</a></li>
                <li><a href="/services/kubernetes">Kubernetes</a></li>
                <li><a href="/services/support">Support</a></li>
              <ul>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <h3>Resources</h3>
              <ul>
                <li><a href="/blog">Blog</a></li>
              <ul>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <h3>More Appvia</h3>
              <ul>
                <li><a href="/why-appvia">Why Appvia</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
              <ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

{% endmacro %}
