{% macro nav(header='', breadcrumb=[], headerBg='/assets/fabrex/img/bg/bg-sample.jpg', darkOverlay='0', bgPosition='') %}
<!-- start header section -->
<section class="header-sub bg-gradient-blue">
    <div class="cover-background-image cover-background {{bgPosition}}">
        <div class="padding-40 page-title-section bg-img cover-background" data-overlay-dark="{{darkOverlay}}"
             data-background="{{headerBg}}" style="background-image: url(&quot;{{headerBg}}&quot;);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{header}}</h1>
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li><a href="/">Home</a></li>
                            {% for item in breadcrumb %}
                            {% if item.link %}
                            <li><a href="{{item.link}}">{{item.text}}</a></li>
                            {% else %}
                            <li class="text-white">{{item.text}}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end header section -->
{% endmacro %}
