{% import "partials/nav-items.html" as navigation %}

{% macro nav(active='') %}
<!-- start nav section -->
<nav role="navigation">
  <a href="/" class="appvia-logo"><img src="../../assets/img/appvia_logo.svg"></a>
  <ul id="mainMenu">
    {{ navigation.items(active) }}
  </ul>
  <div id="menuToggle" style="display:none">
    <input type="checkbox" />
    <span class="burger"></span>
    <span class="burger"></span>
    <span class="burger"></span>
    <ul id="menu">
      {{ navigation.items(active, true) }}
    </ul>
  </div>
</nav>

<!-- end nav section -->
{% endmacro %}
