
{% macro navItems(active='',  mobile='') %}
  {% if mobile%}<li><a href="/" class="appvia-logo"><img src="../../assets/img/appvia_logo.svg" class="appvia-logo-mobile"></a></li>{% endif %}
  <li><a href="/why-appvia" class="{% if active == 'why-appvia' %}active{% endif %}">Why Appvia</a></li>
  <li>
    <a href="/products" class="{% if active == 'products' %}active{% endif %}">Our Products</a>
    <ul class="dropdown">
      <li><a href="/products/hub">Appvia Hub</a></li>
      <li><a href="/products/kubernetes-security-scanner">KSS</a></li>
    </ul>
  </li>
  <li>
    <a href="/services" class="{% if active == 'services' %}active{% endif %}">Our Services</a>
    <ul class="dropdown">
      <li><a href="/services/consultancy">Consultancy</a></li>
      <li><a href="/services/kubernetes">Kubernetes</a></li>
      <li><a href="/services/support">Support</a></li>
    </ul>
  </li>
  <li>
    <span>Resources</span>
    <ul class="dropdown">
      <li><a href="/blog">Blog</a></li>
      <!-- <li><a href="#">Case Study</a></li> -->
    </ul>
  </li>
  <li>
    <span>More Appvia</span>
    <ul class="dropdown">
      <!-- <li><a href="#">Partners</a></li> -->
      <li><a href="/careers">Careers</a></li>
      <!-- <li><a href="#">Tools</a></li> -->
      <li><a href="/contact-us">Contact Us</a></li>
    </ul>
  </li>
{% endmacro %}

{% macro nav(active='') %}
<!-- start nav section -->
<nav role="navigation">
  <a href="/" class="appvia-logo"><img src="../../assets/img/appvia_logo.svg"></a>
  <ul id="mainMenu">
    {{ navItems(active) }}
  </ul>
  <div id="menuToggle" style="display:none">
    <input type="checkbox" />
    <span class="burger"></span>
    <span class="burger"></span>
    <span class="burger"></span>
    <ul id="menu">
      {{ navItems(active, true) }}
    </ul>
  </div>
</nav>

<!-- end nav section -->
{% endmacro %}
