{% extends 'layout.html' %}
{% block content %}

    {% import "../views/partials/nav.html" as navigation %}
    {{ navigation.nav('about') }}

    {% import "../views/partials/headers.html" as header %}
    {{ header.nav('About', [{ text: 'About', link: false }], '','0', 'background-position-2') }}


    <section class="padding-80">
        <div class="container">

            <div class="section-heading">
                <h3>About</h3>
                <p class="width-55 sm-width-75 xs-width-95">Help your business achieve more.</p>
            </div>

            <div class="row justify-content-center">
              <div class="services-block-two margin-30px-bottom xs-margin-20px-bottom text-justify col-sm-12 col-md-6">
                <p>Appvia provides products, engineering and support to relieve developers of the pains and delays of infrastructure management so they can spend more time on making their companies brilliant.</p>
                <p>That means giving you your very own Development Portal so your developers have all the resources they need to deliver extraordinary work. Everything from kubernetes namespaces through to monitoring dashboards without any dependencies. </p>
                <p>We also can build, manage and run your Kubernetes clusters or provide training around docker best practices. Whatever is needed – on-site or off – Appvia helps developers dedicate every minute to achieving the exceptional.</p>
                <p>(That means we’ll build and run Kubernetes clusters in production for you and teach you exactly how to manage them. We’ve also built DevOps bestpractice into every one of our highly secure, portable and flexible products to enable standardisation across all applications.)</p>
              </div>
              <div class="col-sm-12 col-md-6">
                <img src="/img/containers.png" alt="Containers">
              </div>
            </div>
            <div class="row">
                <div class="services-block-two col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon-briefcase"></span>
                        </div>
                        <h6>Portable</h6>
                        <p>Run Kubernetes and supporting products across multiple clouds to increase application portability.</p>
                    </div>
                </div>
                <div class="services-block-two col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon-upload"></span>
                        </div>
                        <h6>Upgrades</h6>
                        <p>Get the latest patches and features, with tests and assurances around the varying platform components.</p>
                    </div>
                </div>
                <div class="services-block-two col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                    <div class="inner-box active">
                        <div class="icon-box">
                            <span class="icon-expand"></span>
                        </div>
                        <h6>Flexible</h6>
                        <p>Decouple applications with open source technologies and portable APIs, to allow applications to evolve easily and simply.</p>
                    </div>
                </div>
                <div class="services-block-two col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon-shield"></span>
                        </div>
                        <h6>Secure</h6>
                        <p>Run tools to enforce best practice. Visualise and be informed of vulnerabilities and weak access controls across your Kubernetes clusters.</p>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </section>

    <section class="padding-0 bg-gradient-blue">
      <div class="padding-80 parallax"  data-overlay-dark="0" data-background="img/cloud-bg-opacity.png" style="background-image: url(&quot;/img/cloud-bg-opacity.png&quot;);">
        <div class="container">
          <div class="section-heading white">
            <h3>What Our Client Say</h3>
          </div>
          <div class="owl-item">
            <div class="testmonial-single center-col width-65 sm-width-90 text-white">
              <p class="line-height-28">
                The Appvia team has shown to be highly skilled with a deep knowledge of cloud providers and cloud technology meaning there is a high level of trust between Appvia and the Home Office, and in Appvia’s ability to deliver quickly and effectively.
                <br /><br />
                They have shown a drive to not just innovate within the service they provide but also provide guidance and assistance to other parts of the Home Office to promote both product and agile delivery.
              </p>
              <h4 class="padding-30px-top xs-padding-20px-top text-white">Matt Philpott</h4>
              <h6 class="mb-2 text-white">Director of Enterprise Technology<br />UK Home Office</h6>
              <img src="/img/HomeOffice-logo.png" width="100" alt="Home Office Logo">
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
