{% extends 'layout.html' %}
{% block content %}

    {% import "../views/partials/nav.html" as navigation %}
    {{ navigation.nav('about') }}

    {% import "../views/partials/headers.html" as header %}
    {{ header.nav('About', [{ text: 'About', link: false }], '../assets/img/clouds.png') }}


    <section class="padding-80">
        <div class="container">

            <div class="section-heading">
                <h3>About</h3>
            </div>

            <div class="row">

                <div class="col-lg-8 col-md-12 text-justify">

                        <p>Appvia provides products, engineering and support to relieve developers of the pains and delays of infrastructure management so they can spend more time on making their companies brilliant.</p>
                        <p>That means giving you your very own Development Portal so your developers have all the resources they need to deliver extraordinary work. Everything from kubernetes namespaces through to monitoring dashboards without any dependencies. </p>
                        <p>We also can build, manage and run your Kubernetes clusters or provide training around docker best practices. Whatever is needed – on-site or off – Appvia helps developers dedicate every minute to achieving the exceptional.</p>
                        <p>(That means we’ll build and run Kubernetes clusters in production for you and teach you exactly how to manage them. We’ve also built DevOps bestpractice into every one of our highly secure, portable and flexible products to enable standardisation across all applications.)</p>

                </div>
                <div class="col">
                     <img src="../assets/img/undraw_team_ih79.svg">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
