{% extends 'layout.html' %}
{% block content %}

    {% import "../views/partials/nav.html" as navigation %}
    {{ navigation.nav('about') }}

    {% import "../views/partials/headers.html" as header %}
    {{ header.nav('About', [{ text: 'About', link: false }], '../assets/img/clouds.png') }}


    <section class="padding-80">
        <div class="container">

            <div class="section-heading">
                <h3>About us</h3>
            </div>

            <div class="row">

                <div class="col-lg-8 col-md-12 text-justify">

                        <h4 class="sm-margin-lr-auto xs-width-100">Who we are</h4>
                        <p>We are a team of highly experienced technologists with a broad range of expertise covering everything your company needs to run, build and manage software more simply.</p>
                        <p>Appvia was established to bring together some of the most experienced engineers in the industry with the goal of freeing developers from the complexities of building and managing their own infrastructure. </p>
                        <p>We have helped organisations from across UK Government and the private sector transform their technology landscape by moving away from slow-to-update, monolithic systems to micro-services built with open-source tooling.</p>
                        <p>Appvia’s commitment to open-source principles means that most of the tools we use and the products we create are open-source too. This allows us to create portable solutions that give you the flexibility to choose the tools and services you need; instead of being locked into ones you don’t. Appvia are also active contributors to the open-source community. Read more about our contributions <a href="https://github.com/appvia" target="_blank">here</a>.</p>
                        <p>We offer a range of products to simplify your software delivery, as well as on-site engineering, training and support. If you want to discuss your requirements, then you can contact us by phone, email or online by heading to our <a href="/contact">contact us</a> page.</p>

                </div>
                <div class="col">
                     <img src="../assets/img/undraw_team_ih79.svg">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
