{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/footer.html" as footer %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}

{% set pageClass = 'content background-fixed background-2' %}

{% block content %}

  {{ navigation.nav('blog') }}

  {% if data | length  %}

  <div class="center-column">
    {{ breadcrumb.links([{ text: 'Blog', link: '/blog' }, { text: tag, link: false }]) }}
    <div class="page-title">
      <h1>Appvia Blog</h1>
      <h2 class="sub-title">Articles tagged with: {{tag}}</h2>
    </div>
    <div class="row">
    {% for item in data %}
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="item">
          <a href="/blog/{{ item.slug }}">
          {% if item.content.thumbnail %}
            <div class="blog-post-thumbnail" style="background-image:url('{{item.content.thumbnail}}')"></div>
          {% else %}
            <div class="blog-post-thumbnail generic-thumbnail"></div>
          {% endif %}
          </a>
          <h3>{{ item.name }}</h3>
          <ul class="meta">
            <li><i class="fa fa-user"></i> {{ item.content.author }}</li>
            <li><i class="fas fa-calendar-alt"></i> {{  published(item.first_published_at) }}</li>
          </ul>
          <p>{{ story(item.content.story) | striptags(true) | truncate(220)}}</p>
          <a href="/blog/{{ item.slug }}" class="button">Read Article</a>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="content-container">
    Sorry, there is no content
  </div>
  {% endif %}

  {{ footer.footer() }}

{% endblock %}
