{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/footer.html" as footer %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}

{% set pageClass = 'content fixed-background' %}

{% block content %}


    {{ navigation.nav('blog', hubDemoEnabled) }}

    {{ breadcrumb.links([{ text: 'Blog', link: false }]) }}

    <div class="page-title">
      <h1>Appvia Blog</h1>
      <h2 class="sub-title">Read our latest blog posts.</h2>
    </div>


    <div class="content-container">
      <div class="row">
      {% for item in rss.body.stories %}
        <div class="col-12 col-md-6">
          <div class="item">
              <h3>{{ item.content.title }}</h3>
              <ul class="meta">
                  <li><i class="fa fa-user"></i> {{ item.content.Author }}</li>
                  <li><i class="fas fa-calendar-alt"></i> {{ item.published_at}}</li>
              </ul>
              <p>{{ item.content.story | dump }}</p>
              <a href="/blog/{{ item.slug }}" class="button">Read Article</a>
              <ul class="tags">
                {% for tag in item.tag_list %}
                <li><a href="/blog/tag/{{ tag }}">{{ tag }}</a></li>
                  {% endfor %}
              </ul>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}
