<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="ChitrakootWeb" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Appvia - Simplify building and deploying software" />
    <meta name="author" content="Appvia">
    <meta name="keywords" content="appvia, kubernetes, software, consultancy, app, development, engineering, london, uk, hosting, cloud, sre, devops">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/assets/fabrex/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/assets/fabrex/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/fabrex/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/fabrex/img/logos/apple-touch-icon-114x114.png">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link href="/assets/css/styles.css" rel="stylesheet">
  </head>

  <body class="content fixed-background">


    <nav role="navigation">
      <img src="assets/img/appvia_logo.svg" class="appvia-logo">
      <ul id="mainMenu">
        <li><a href="/new-s1opdafz3wvqvyv1#home">HOME</a></li>
        <li><a href="/new-s1opdafz3wvqvyv1#products">PRODUCTS</a></li>
        <li><a href="/new-s1opdafz3wvqvyv1#services">SERVICES</a></li>
        <li><a href="/new-s1opdafz3wvqvyv1#contact">CONTACT</a></li>
        <li><a href="/blog-s1opdafz3wvqvyv1">BLOG</a></li>
        <li><a href="/careers-s1opdafz3wvqvyv1">CAREERS</a></li>
        <li><a href="#" class="request-demo">REQUEST A DEMO</a></li>
      </ul>
      <div id="menuToggle" style="display:none">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <li><a href="#home">HOME</a></li>
          <li><a href="#products">PRODUCTS</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li><a href="#">BLOG</a></li>
          <li><a href="#">CAREERS</a></li>
          <li><a href="#">REQUEST A DEMO</a></li>
        </ul>
      </div>
    </nav>



    <div class="page-title">
      <h1>Medium Blog</h1>
    </div>

    <div style="padding: 0 2em;">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="item">
            <h3>Serverless on Kubernetes</h3>
            <ul class="meta">
                <li><i class="fa fa-user"></i> Daniel Whatmuff</li>
                <li><i class="fas fa-calendar-alt"></i> Tue, 30 Jul 2019 08:38:45 GMT</li>
            </ul>
            <p>The top 6 frameworks you really need to know aboutPart 1, an intro to Serverless Technology, is available here.OpenFaasopenfaas/faasOverview:OpenFaas is an independent project started by Alex Ellis who was a Senior...</p>
            <a href="">Read Article</a>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="item">
            <h3>Serverless on Kubernetes</h3>
            <ul class="meta">
                <li><i class="fa fa-user"></i> Daniel Whatmuff</li>
                <li><i class="fas fa-calendar-alt"></i> Tue, 30 Jul 2019 08:38:45 GMT</li>
            </ul>
            <p>The top 6 frameworks you really need to know aboutPart 1, an intro to Serverless Technology, is available here.OpenFaasopenfaas/faasOverview:OpenFaas is an independent project started by Alex Ellis who was a Senior...</p>
            <a href="">Read Article</a>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="item">
            <h3>Serverless on Kubernetes</h3>
            <ul class="meta">
                <li><i class="fa fa-user"></i> Daniel Whatmuff</li>
                <li><i class="fas fa-calendar-alt"></i> Tue, 30 Jul 2019 08:38:45 GMT</li>
            </ul>
            <p>The top 6 frameworks you really need to know aboutPart 1, an intro to Serverless Technology, is available here.OpenFaasopenfaas/faasOverview:OpenFaas is an independent project started by Alex Ellis who was a Senior...</p>
            <a href="">Read Article</a>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="item">
            <h3>Serverless on Kubernetes</h3>
            <ul class="meta">
                <li><i class="fa fa-user"></i> Daniel Whatmuff</li>
                <li><i class="fas fa-calendar-alt"></i> Tue, 30 Jul 2019 08:38:45 GMT</li>
            </ul>
            <p>The top 6 frameworks you really need to know aboutPart 1, an intro to Serverless Technology, is available here.OpenFaasopenfaas/faasOverview:OpenFaas is an independent project started by Alex Ellis who was a Senior...</p>
            <a href="">Read Article</a>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="item">
            <h3>Serverless on Kubernetes</h3>
            <ul class="meta">
                <li><i class="fa fa-user"></i> Daniel Whatmuff</li>
                <li><i class="fas fa-calendar-alt"></i> Tue, 30 Jul 2019 08:38:45 GMT</li>
            </ul>
            <p>The top 6 frameworks you really need to know aboutPart 1, an intro to Serverless Technology, is available here.OpenFaasopenfaas/faasOverview:OpenFaas is an independent project started by Alex Ellis who was a Senior...</p>
            <a href="">Read Article</a>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="item">
            <h3>Serverless on Kubernetes</h3>
            <ul class="meta">
                <li><i class="fa fa-user"></i> Daniel Whatmuff</li>
                <li><i class="fas fa-calendar-alt"></i> Tue, 30 Jul 2019 08:38:45 GMT</li>
            </ul>
            <p>The top 6 frameworks you really need to know aboutPart 1, an intro to Serverless Technology, is available here.OpenFaasopenfaas/faasOverview:OpenFaas is an independent project started by Alex Ellis who was a Senior...</p>
            <a href="">Read Article</a>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="item">
            <h3>Serverless on Kubernetes</h3>
            <ul class="meta">
                <li><i class="fa fa-user"></i> Daniel Whatmuff</li>
                <li><i class="fas fa-calendar-alt"></i> Tue, 30 Jul 2019 08:38:45 GMT</li>
            </ul>
            <p>The top 6 frameworks you really need to know aboutPart 1, an intro to Serverless Technology, is available here.OpenFaasopenfaas/faasOverview:OpenFaas is an independent project started by Alex Ellis who was a Senior...</p>
            <a href="">Read Article</a>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="item">
            <h3>Serverless on Kubernetes</h3>
            <ul class="meta">
                <li><i class="fa fa-user"></i> Daniel Whatmuff</li>
                <li><i class="fas fa-calendar-alt"></i> Tue, 30 Jul 2019 08:38:45 GMT</li>
            </ul>
            <p>The top 6 frameworks you really need to know aboutPart 1, an intro to Serverless Technology, is available here.OpenFaasopenfaas/faasOverview:OpenFaas is an independent project started by Alex Ellis who was a Senior...</p>
            <a href="">Read Article</a>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="item">
            <h3>Serverless on Kubernetes</h3>
            <ul class="meta">
                <li><i class="fa fa-user"></i> Daniel Whatmuff</li>
                <li><i class="fas fa-calendar-alt"></i> Tue, 30 Jul 2019 08:38:45 GMT</li>
            </ul>
            <p>The top 6 frameworks you really need to know aboutPart 1, an intro to Serverless Technology, is available here.OpenFaasopenfaas/faasOverview:OpenFaas is an independent project started by Alex Ellis who was a Senior...</p>
            <a href="">Read Article</a>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="item">
            <h3>Serverless on Kubernetes</h3>
            <ul class="meta">
                <li><i class="fa fa-user"></i> Daniel Whatmuff</li>
                <li><i class="fas fa-calendar-alt"></i> Tue, 30 Jul 2019 08:38:45 GMT</li>
            </ul>
            <p>The top 6 frameworks you really need to know aboutPart 1, an intro to Serverless Technology, is available here.OpenFaasopenfaas/faasOverview:OpenFaas is an independent project started by Alex Ellis who was a Senior...</p>
            <a href="">Read Article</a>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
