{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/footer.html" as footer %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}

{% set pageClass = 'content fixed-background' %}

{% block content %}


    {{ navigation.nav('blog', hubDemoEnabled) }}

    {{ breadcrumb.links([{ text: 'Blog', link: false }]) }}


    <div class="page-title">
      <h1>Medium Blog</h1>
    </div>

    <h2 class="sub-title">Read our latest blog posts.</h2>

    <div style="padding: 0 2em; margin-top: 6em">
      <div class="row">
      {% for item in rss.items %}
        <div class="col-12 col-md-6">
          <div class="item">
              <h3>{{ item.title }}</h3>
              <ul class="meta">
                  <li><i class="fa fa-user"></i> {{ item.creator }}</li>
                  <li><i class="fas fa-calendar-alt"></i> {{ item.pubDate }}</li>
              </ul>
              <p>{{ item['content:encoded'] | striptags(true) | truncate(220)}}</p>
              <a href="{{ item.link }}">Read Article</a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}
