{% extends 'layout.html' %}
{% block content %}

    {% import "../views/partials/nav.html" as navigation %}
    {{ navigation.nav('blog') }}

    {% import "../views/partials/headers.html" as header %}
    {{ header.nav('Blog', '../assets/img/blog-banner.png') }}

        <section class="padding-80">
            <div class="container">
                <div class="section-heading">
                    <h3>Latest</h3>
                </div>

                    {% for item in rss.items %}
                            <div class="row">
                      <div class="col margin-30px-bottom xs-margin-20px-bottom">
                          <div class="blog-grid-simple">
                              <h4><a href="{{ item.link }}">{{ item.title }}</a></h4>
                              <p>{{ item['content:encoded'] | safe | truncate(220)}}</p>
                              <hr />
                                  <div class="row">
                                       <div class="col">
                                           <p>{{ item.creator }}<br/>{{ item.pubDate}}</p>
                                        </div>
                                    <div class="col">
                                        <div class="float-right text-right"><a href="{{ item.link }}" class="butn"><span>Read Article</span></a></div>
                                         </div>

                                  </div>

                          </div>
                      </div>
                      </div>
                    {% endfor %}

            </div>
        </section>

<!-- end clients section -->
{% endblock %}
