{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/footer.html" as footer %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}

{% set pageClass = 'content fixed-background' %}

{% block content %}

  {{ navigation.nav('careers') }}

  {{ breadcrumb.links([{ text:'Careers', link: false }]) }}

  <div class="page-title">
    <h1>Careers</h1>
    {% if data | length  %}
        <h2 class="sub-title">Please see our open positions below.</h2>
    {% else %}
        <h2 class="sub-title">Unfortunately, we have no open positions right now.</h2>
    {% endif %}
  </div>

  <div class="center-column mt-3">
    <div class="row">
    {% for job in data | reverse %}
      <div class="col-12 col-md-6">
        <div class="item">
            <h3>{{ job.name }}</h3>
            <p>{{ role(job.content.the_role) | striptags(true) | truncate(220)}}</p>
            <a href="/careers/{{ job.slug }}" class="button">More details</a>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}
