{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/footer.html" as footer %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}

{% set pageClass = 'content fixed-background' %}

{% block content %}

    {{ navigation.nav('careers', hubDemoEnabled) }}

    {{ breadcrumb.links([{ text:'Careers', link: false }]) }}

    <div class="page-title">
      <h1>Careers</h1>
    </div>

    {% if jobCount %}
        <h2 class="sub-title">Please see our open positions below.</h2>
    {% else %}
        <h2 class="sub-title">Unfortunately, we have no open positions right now.</h2>
    {% endif %}

    <div style="padding: 0 2em; margin-top: 6em">
      <div class="row">
      {% for job in jobs | reverse %}
        <div class="col-12 col-md-6">
          <div class="item">
              <h3>{{ job.title }}</h3>
              <p>{{ job.role | safe | truncate(220) }}</p>
              <a href="/careers/{{ job.slug }}" class="button">More details</a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}
