{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}
{% import "../views/partials/footer.html" as footer %}

{% set pageClass = 'content fixed-background' %}

{% block content %}

  {{ navigation.nav('Services') }}

  {{ breadcrumb.links([{ text: 'Services', link: '/services' }, { text: 'Consultancy', link: false }]) }}

  <div class="page-title">
    <h1>Consultancy</h1>

  </div>

  <div class="center-column">

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h2>Our consultancy services</h2>
        <p>When it comes to software engineering, we know exactly what we’re talking about. But the first thing we’ll say is nothing. Why? Because whatever stage you’re at, we won’t make any recommendations until we’ve listened to exactly what you need from us.</p>
        <p>We’ll then tailor any solutions we propose around your plans, how you want your business to grow and what you expect from your apps. Through us, you’ll never be locked in to software contracts you don’t need, or find that your business relies on just one vendor.</p>

          <p>Here are some of the ways we can help:</p>

          <div class="tabs">
            <div class="tab">
              <input type="checkbox" id="chck1">
              <label class="tab-label" for="chck1">Our DevOps strategy service</label>
              <div class="tab-content">
               <p>We’ll help your business think about DevOps differently. Our focus is on making you streamlined and efficient. We can help provide your developers with what they need through cost-effective self-service platforms, so that you need fewer unnecessary resources within your organisation.</p>
              <h3>Benefits of our DevOps strategy service</h3>
                <ul class="list-bullet">
                  <li>Assess the DevOps maturity in your organisation</li>
                  <li>Cost-effective strategy based on your organisation’s core needs</li>
                  <li>Remove and reduce complexity through automation</li>
                  <li>Create a highly resilient, scalable application delivery framework</li>
                  <li>Adopt open source technologies confidently</li>
                  <li>Recommend solutions to address security constraints</li>
                </ul>
              </div>
            </div>
          <div class="tab">
              <input type="checkbox" id="chck2">
              <label class="tab-label" for="chck2">Our cloud strategy service</label>
              <div class="tab-content">
                <p>We believe the ever-changing cloud ecosystem gives you an opportunity. With our cloud agnostic mindset, we can guide you to build a framework of best practices and suitable platforms. Our experience will ensure you meet your operational needs, always with a strong focus on security, so you can make your digital delivery more efficient.</p>
                <p>Benefits of our cloud strategy service</p>
                 <ul class="list-bullet">
                  <li>Assess pros and cons of different cloud providers</li>
                  <li>Cost-effective strategy based on your organisation’s core needs</li>
                  <li>Remove and reduce complexity through automation</li>
                  <li>Create a highly resilient, scalable application delivery framework</li>
                  <li>Adopt open source technologies confidently</li>
                  <li>Recommend solutions to meet security constraints</li>
                </ul>
              </div>
            </div>
             <div class="tab">
              <input type="checkbox" id="chck3">
              <label class="tab-label" for="chck3">Our container strategy service</label>
              <div class="tab-content">
                <p>We’ve been running containers in production for years. Your DevOps team will appreciate the benefits of this experience through our planning. We maintain core open-source container projects, including Kubernetes operations (kops), and can put together a strategy that gives you industry best practices, the security you need and the flexibility to grow.</p>
                <h3>Benefits of our container strategy service</h3>
                <ul class="list-bullet">
                  <li>Balance between cloud-based and in-house services</li>
                  <li>Continuous integration (CI) and continuous deployment (CD) to iterate fast</li>
                  <li>Enables use of microservice architecture</li>
                  <li>Operational container monitoring and security confidence</li>
                  <li>Container-based disaster recovery</li>
                </ul>
              </div>
            </div>
          </div>

          <p class="mt-2">We can give you plenty more detail about how these services could work for you. Please <a href="">get in touch</a> if your interested.</p>

        <a href="/contact-us" class="button">Contact us</a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="/assets/img/undraw_personal_settings_kihd.svg" style="width:100%">
      </div>
    </div>



  </div>
{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}
