{% extends 'layout.html' %}
{% block content %}

    {% import "../views/partials/nav.html" as navigation %}
    {{ navigation.nav('contact') }}

    {% import "../views/partials/headers.html" as header %}
    {{ header.nav('Contact', [{ text: 'Contact', link: false }], '../assets/img/contact-banner.png') }}

        <section class="padding-80">
            <div class="container">
                <div class="text-center section-heading">
                    <h3>Get in touch with us</h3>
                </div>

                <!-- start contact detail -->
                <div class="row margin-50px-bottom sm-margin-30px-bottom">
                    <div class="col-lg-4">
                        <div class="contact-box"><i class="fas fa-phone"></i>
                            <h4>Call Us</h4><span>0203 475 0546</span></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-box"><i class="fas fa-map-marker-alt"></i>
                            <h4>Visit Us</h4><span>5-7 Tanner St, London SE1 3LE, UK</span></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-box"><i class="far fa-envelope"></i>
                            <h4>Mail Us</h4><span>info@appvia.io</span></div>
                    </div>
                </div>
                <!-- end contact detail -->

            </div>



        </section>

        <!-- start map section -->

        <div id="map"></div>

        <!-- end map section -->

        <!-- map js -->
        <script src="../assets/fabrex/js/map.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdgmLYVumAEPPEDqk9cD57MIwAqmz5jWo&callback=initMap" type="text/javascript"></script>

{% endblock %}
