{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}
{% import "../views/partials/footer.html" as footer %}

{% set pageClass = 'content background-fixed background-5' %}

{% block content %}

  {{ navigation.nav('More appvia') }}

  <div class="center-column">
    {{ breadcrumb.links([{ text: 'Contact Us', link: false }]) }}
    <div class="page-title">
      <h1>Get in touch</h1>
      <h2 class="sub-title">If you need our help delivering digital value to your business,
        let's talk. We'll be happy to explain what we can do for you. And it can all start with an informal chat.</h2>
    </div>
    <div class="row mt-4">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="box-black">
          <h3 class="uppercase red">Call us</h3>
          <p>+44 (0)203 475 0546</p>
      </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="box-black">
          <h3 class="uppercase red">Visit us</h3>
          <p>Ground Floor, Cap House 9 - 12 Long Lane London, EC1A 9HA</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="box-black">
          <h3 class="uppercase red">Email us</h3>
          <p>info@appvia.io</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="box-black">
          <h3 class="uppercase red">Connect with us</h3>
          <ul class="social-icons">
            <li><a href="https://www.linkedin.com/company/appvia/"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://twitter.com/appvia_io"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://medium.com/appvia"><i class="fab fa-medium"></i></a></li>
            <li><a href="https://github.com/appvia"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="map"></div>

  {{ footer.footer() }}

{% endblock %}

{% block customScripts %}
<!-- map js -->
<script src="../assets/javascript/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdgmLYVumAEPPEDqk9cD57MIwAqmz5jWo&callback=initMap" type="text/javascript"></script>
{% endblock %}
