{% extends 'layout.html' %}
{% block content %}

    {% import "../views/partials/nav.html" as navigation %}
    {{ navigation.nav() }}

	<section class="error-box" data-overlay-dark="0" >
        <div class="error-box-text">
            <h1 class="text-shadow-light">{{status}}</h1>
            <h3 class="text-shadow-light">{{message}}</h3>
            <div class="margin-30px-top"><a href="/" class="butn"><span>Back Home</span></a></div>
        </div>
    </section>

<!-- end clients section -->
{% endblock %}
