{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/footer.html" as footer %}

{% set pageClass = 'content fixed-background' %}

{% block content %}

  {{ navigation.nav('error') }}

  <div class="page-title">
    <h1>{{status}}</h1>
  </div>
  <div class="center-column text-center">
    <h2>{{message}}</h2>
    <p><a href="javascript: history.go(-1)" class="back-link"><i class="fa fa-angle-left"></i>Go Back</a></p>
  </div>

{% endblock %}


{% block footer %}
  {{ footer.footer() }}
{% endblock %}
