{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/footer.html" as footer %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}

{% set pageClass = 'content background-fixed background-5' %}

{% block content %}

  {{ navigation.nav('home') }}

  <div class="center-column">
    {{ breadcrumb.links([{ text: 'Stay in touch', link: false }]) }}
    <div class="page-title sub-page">
      <h1>Stay in touch</h1>
    </div>
    <div class="row">
      <div class="col-12 blog-body">
        <h2>Your sign up request has been received.</h2>
        <p>We'll be in touch...</p>
        <a href="{{referer}}" class="back-link"><i class="fa fa-angle-left"></i>Go Back</a>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}
