<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="ChitrakootWeb" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Appvia - Simplify building and deploying software" />
    <meta name="author" content="Appvia">
    <meta name="keywords" content="appvia, kubernetes, software, consultancy, app, development, engineering, london, uk, hosting, cloud, sre, devops">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/assets/fabrex/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/assets/fabrex/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/fabrex/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/fabrex/img/logos/apple-touch-icon-114x114.png">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link href="/assets/css/styles.css" rel="stylesheet">
  </head>

  <body class="content fixed-background">


    <nav role="navigation">
      <img src="assets/img/appvia_logo.svg" class="appvia-logo">
      <ul id="mainMenu">
        <li><a href="/new-s1opdafz3wvqvyv1#home">HOME</a></li>
        <li><a href="/new-s1opdafz3wvqvyv1#products">PRODUCTS</a></li>
        <li><a href="/new-s1opdafz3wvqvyv1#services">SERVICES</a></li>
        <li><a href="/new-s1opdafz3wvqvyv1#contact">CONTACT</a></li>
        <li><a href="/blog-s1opdafz3wvqvyv1">BLOG</a></li>
        <li><a href="/careers-s1opdafz3wvqvyv1">CAREERS</a></li>
        <li><a href="/hub-demo-s1opdafz3wvqvyv1" class="request-demo">REQUEST A DEMO</a></li>
      </ul>
      <div id="menuToggle" style="display:none">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <li><a href="#home">HOME</a></li>
          <li><a href="#products">PRODUCTS</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li><a href="#">BLOG</a></li>
          <li><a href="#">CAREERS</a></li>
          <li><a href="#">REQUEST A DEMO</a></li>
        </ul>
      </div>
    </nav>



    <div class="container-fluid">

          <div class="page-title">
            <h1>
              <div class="badge alpha-badge">ALPHA</div>
              <div>Request a Hub Demo</div>
            </h1>
          </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="item">

            <p>The Appvia Hub provides a platform for developers from your organisation to create the applications simply and quickly with a flexibility beyond a typical developer platform product.</p>
            <img src="/img/hub-screenshot.png" alt="The Hub Screenshot" style="width:100%;padding: 1em 0 ">
            <p>For this demo we will set up some integrations and create a new organisation for you with each of the following providers:</p>

            <div class="row" style="margin-top: 2em;">
                        <div class=" col-4  text-center">
                            <a href="https://github.com/about" target="_blank"><img alt="Github logo" src="/img/GitHub-Logo-white.png" class="logo-github"></a>
                        </div>
                        <div class="col-4 text-center">
                            <a href="https://docs.quay.io/" target="_blank"><img alt="Quay logo" src="/img/quay-logo-white.svg" class="logo-quay"></a>
                        </div>
                        <div class="col-4 text-center">
                            <a href="https://kubernetes.io/docs/home/" target="_blank"><img alt="GKE logo" src="/img/kubernetes-logo-white.png" class="logo-kubernetes"></a>
                        </div>
                    </div>

        </div>
      </div>

<div class="col-12 col-md-6">
  <div class="item">

                          <h3>Please provide us these details:</h3>

                          <span class="small">(All fields are required)</span>

                          <form method="POST" action="/products/request-submit" data-parsley-validate="" novalidate="">
                              <div class="row">
                                  <div class="col-md-12">
                                      <label for="firstName">First Name</label>
                                      <div id="firstName-errors"></div>
                                      <input class="form-control" type="text" name="firstName" id="firstName" required="" value="" data-parsley-errors-container="#firstName-errors">
                                  </div>
                                  <div class="col-md-12">
                                      <label for="lastName">Last Name</label>
                                      <div id="lastName-errors"></div>
                                      <input class="form-control" type="text" name="lastName" id="lastName" required="" value="" data-parsley-errors-container="#lastName-errors">
                                  </div>
                                  <div class="col-md-12">
                                      <label for="email">Email</label>
                                      <div id="email-errors"></div>
                                      <input class="form-control" type="email" name="email" id="email" required="" value="" data-parsley-errors-container="#email-errors">
                                  </div>
                                  <div class="col-md-12">
                                      <label for="companyName">Company Name</label>
                                      <div id="companyName-errors"></div>
                                      <input class="form-control" type="text" name="companyName" id="companyName" required="" value="" data-parsley-errors-container="#companyName-errors">
                                  </div>
                                  <div class="col-md-12">
                                      <label for="role">Role</label>
                                      <div id="role-errors"></div>
                                      <input class="form-control" type="text" name="role" id="role" required="" value="" data-parsley-errors-container="#role-errors">
                                  </div>
                                  <div class="col-md-12">
                                      <label for="companySize">Company Size</label>
                                      <div id="companySize-errors"></div>
                                      <select class="form-control" name="companySize" id="companySize" required="" data-parsley-errors-container="#companySize-errors">
                                          <option disabled="" selected="" value="">Select your company size</option>
                                          <option value="1">1</option>
                                          <option value="10">2 to 10</option>
                                          <option value="50">11 to 50</option>
                                          <option value="200">51 to 200</option>
                                          <option value="500">201 to 500</option>
                                          <option value="1000">501 to 1000</option>
                                          <option value="5000">1001 to 5000</option>
                                          <option value="10000">5001 to 10,000</option>
                                          <option value="100000">10,001 or more</option>
                                      </select>
                                  </div>
                                  <div class="col-md-12">
                                      <label>GitHub ID</label>
                                      <div class="help-text">We need this to create a GitHub org that you will have access to</div>
                                      <div id="github-errors"></div>
                                      <input class="form-control" type="text" name="github" id="github" required="" value="" data-parsley-git="" data-parsley-trigger-after-failure="focusout" data-parsley-errors-container="#github-errors">
                                  </div>
                                  <div class="col-md-12">
                                      <span class="small">By clicking "Submit Request", I agree to the Appvia <a href="/privacy-policy">Privacy
                                      Policy</a>.</span>
                                  </div>
                                  <div class="col-md-12">
                                      <button type="submit" id="submit-form" class="butn"><span>Submit Request</span></button>
                                  </div>
                              </div>
                          </form>
                      </div>
</div>



      </div>
    </div>
  </body>
</html>
