{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}
{% import "../views/partials/footer.html" as footer %}

{% set pageClass = 'content background-fixed background-6' %}

{% block content %}

  {{ navigation.nav('products') }}

  <div class="center-column">
    {{ breadcrumb.links([{ text: 'Products', link: '/products' }, { text: 'Appvia Hub', link: false }]) }}
    <div class="page-title sub-page">
      <h1>Appvia Hub</h1>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 blog-body">
        <h1>Cloud Native Delivery Platform</h1>
        <p>Appvia Hub is our core product, a complete solution for building and managing your apps independently from each other – however many you plan to run at the same time.</p>
        <p>It’s a self-service developer platform that promotes a modern Agile approach, using cloud computing and containers to decouple your apps from the environment in which they run,
          to create highly portable, easily scalable software.</p>

          <p>The result? Appvia Hub takes the load of infrastructure management off your developers’ shoulders. It also gives them all the resources they need to build and deploy software
            more efficiently. So all your efforts can go into adding value for your customers.</p>

            <h2>For your developers:</h2>

              <ul class="list-tick mb-2">
                <li>Deploy, manage, and scale containerized applications</li>
                <li>Run your services across multiple clouds</li>
                <li>Self serve cloud dependencies to increase agility</li>
                <li>Complete observability; automatically provisioned monitoring and logging</li>
              </ul>

            <h2>For your organisation:</h2>
            <ul class="list-tick mb-2">
              <li>Reduce risk with automatic patch management</li>
              <li>Improved compliance with audit for all platform activity</li>
              <li>Best practice enabled across all applications and services</li>
              <li>A consistent way of working across your developer teams</li>
              <li>24x7 Platform Support</li>
            </ul>

        {% if hubDemoEnabled %}
        <a href="/products/hub-demo" class="button mt-2">Request a demo</a>
        {% endif %}

      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="/img/hub-screenshot-laptop.png" alt="The Hub Screenshot" style="width:100%;padding: 1em 0">
      </div>
    </div>



  </div>
  {{ footer.footer() }}
{% endblock %}
