{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/footer.html" as footer %}
{% set pageClass = 'content background-fixed background-3' %}
{% block content %}


  {{ navigation.nav('home', hubDemoEnabled) }}

    <div class="center-column">

        <div class="row">
          <div class="col">
            <div class="hero-title">
              <h1>
                Appvia.<br />
                The freedom to develop software.<br />
                The power to deploy quickly.
                </h1>
                <a href="/why-appvia" class="button-black">Find out more</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <a href="/products" class="feature-button text-pop-up-top">Products</a>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <a href="/services" class="feature-button">Services</a>
          </div>
        </div>

          <div class="row  mt-4">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="hero-title">
              <h2>Why Appvia can be the future of your organisation</h2>
              <p>We live and breathe software engineering, leaving your developers free to create business-critical software.</p>       
              <a href="/why-appvia" class="button-black">See how we do this</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 ">
            <img src="/assets/img/undraw_wireframing_nxyi_a.svg" style="margin-top:-2em">
          </div>
        </div>
      
         
    
  </div>


{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}

{% block customScripts %}
<script src="assets/javascript/smoothscroll.min.js"></script>


{% endblock %}
