{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/footer.html" as footer %}
{% set pageClass = 'content background-fixed background-3' %}
{% block content %}


  {{ navigation.nav('home') }}

    <div class="center-column">

        <div class="row">
          <div class="col">
            <div class="hero-title">
              <h1>
                Kubernetes Delivery Mastered<br />
              </h1>
              <p>
                Accelerate your business with secure and simplified container solutions, created by Kubernetes experts and contributors.
              </p>
              <a href="/why-appvia" class="button-black">Find out more</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <a href="/products" class="feature-button">
              <h3>Our Products</h3>
              <p>Ready-made solutions to make your DevOps team more efficient.</p>
            </a>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <a href="/services" class="feature-button">
              <h3>Our Services</h3>
              <p>Consultancy and support to shape your technological strategy.</p>
            </a>
          </div>
        </div>

          <div class="row mt-2">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="hero-title">
              <h2>We're the future of your organisation</h2>
              <p>We live and breathe software engineering, leaving your developers free to create business-critical software.</p>
              <a href="/why-appvia" class="button-black mb-2">See how we do this</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 text-center">
            <img src="/assets/img/undraw_to_the_moon_v1mv.svg" style="width:90%">
          </div>
        </div>

  </div>

  {{ footer.footer() }}

{% endblock %}
