{% extends 'layout.html' %}
{% block content %}

    {% import "../views/partials/nav.html" as navigation %}
    {{ navigation.nav('careers') }}

    {% import "../views/partials/headers.html" as header %}
    {{ header.nav('Careers', [{ text: 'Careers', link: '/careers' }, { text: job.title, link: false }], '../assets/img/clouds.png', '0') }}


    <section class="padding-80">
        <div class="container">

            <div class="section-heading">
                <h3>{{job.title}}</h3>
            </div>

            <div class="row">
              <div class="col-md-8 justifty">
                <h5>About Appvia</h5>
                <p>Appvia is an IT consultancy providing industry leading engineering. We transform our clients ability to manage software delivery, by understanding requirements and developing solutions that help drive business value.</p>
                <p>One of the core principles to Appvia is company ethos. We have a positive and inclusive culture that ensures a happy team, committed to the quality of our work and who support each other to create a professional business environment. This helps us not only to maintain staff who feel contented and proud of where they work, but also happy and satisfied customers. It is not just our people who buy into our company culture, but our customers too.</p>
              </div>

              <div class="col-md-4 justifty">
                <div class="project-single-info">
                  <ul class="no-margin">
                    <li><span class="vertical-align-top">Type:</span> <span class="value">{{job.type}}</span></li>
                    <li><span class="vertical-align-top">Hours:</span> <span class="value">{{job.hours}}</span></li>
                    <li><span class="vertical-align-top">Location:</span> <span class="value">{{job.location}}</span></li>
                    <li><span class="vertical-align-top">Posted:</span> <span class="value">{{job.postedDate}}</span></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 justifty">
                <h5>The Role</h5>
                <p>{{job.role | safe}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 justifty">
                <h5>Key Responsibilities</h5>
                <ul class="bullets">
                  {% for item in job.keyResponsibilities %}
                  <li>{{item}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 justifty">
                <h5>We're looking for someone with</h5>
                <ul class="bullets">
                    {% for item in job.desirableAttributes %}
                    <li>{{item}}</li>
                    {% endfor %}
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 justifty">
                <h5>What you'll get in return</h5>
                <ul class="bullets">
                  {% for item in job.remuneration %}
                  <li>{{item}}</li>
                  {% endfor %}
                </ul>
                {% if job.securityClearanceRequired %}
                <div class="row">
                  <div class="col-md-12 justifty">
                      <p>Note: As some of our customers require Security Clearance, you will need to be eligible, this means you will need:</p>
                      <ul class="bullets">
                        <li>To have resided in the country for at least 5 years</li>
                        <li>Have no criminal records</li>
                        <li>Have no financial irregularities</li>
                      </ul>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                  <a href="mailto:hr@appvia.io?subject=Application for {{job.title}} position" class="butn"><span>Apply</span></a>
                  <br /><br />
                  <strong class="strong">Please include a copy of your CV and your GitHub ID</strong>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
