{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}
{% import "../views/partials/footer.html" as footer %}

{% set pageClass = 'content background-fixed background-1' %}

{% block content %}

  {{ navigation.nav('careers') }}

  <div class="center-column blog-column">
    {{ breadcrumb.links([{ text: 'Careers', link: '/careers' }, { text: data.name, link: false }]) }}
    <div class="blog-head">
      <h1>{{data.name}}</h1>
    </div>
    <ul class="callout-job mt-1">
      <li><span class="callout-head">Type:</span> {{data.content.Type}}</li>
      <li><span class="callout-head">Hours:</span> {{data.content.Hours}}</li>
      <li><span class="callout-head">Location:</span> {{data.content.Location}}</li>
      <li><span class="callout-head">Posted:</span> {{published(data.first_published_at)}}</li>
    </ul>

    <div class="blog-body">

    {% if about %}
      <h3>About Appvia</h3>
      {{ about | safe }}
    {% endif %}

    {% if role %}
      <h3>The Role</h3>
      {{role | safe}}
    {% endif %}

    {% if key_responsibilities %}
      <h3>Key Responsibilities</h3>
      {{ key_responsibilities | safe}}
    {% endif %}

    {% if attributes %}
      <h3>We're looking for someone with</h3>
      {{ attributes | safe}}
    {% endif %}

    {% if remuneration %}
      <h3>What you'll get in return</h3>
      {{ remuneration | safe }}
    {% endif %}

    {% if security_clearance %}
      <h3>Note: As some of our customers require Security Clearance, you will need to be eligible, this means you will need:</h3>
      {{ security_clearance | safe }}
    {% endif %}

    <p><a href="mailto:hr@appvia.io?subject=Application for {{data.name}} position" class="button">Apply for this position</a></p>

    <p><strong class="strong">If applicable please include a copy of your CV and your GitHub ID</strong></p>

    <button class="back-button" onclick="javascript:history.go(-1)"><i class="fas fa-angle-double-left"></i> Go Back</button>
    </div>
  </div>
  {{ footer.footer() }}
{% endblock %}
