<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="ChitrakootWeb" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Appvia - Simplify building and deploying software" />
    <meta name="author" content="Appvia">
    <meta name="keywords" content="appvia, kubernetes, software, consultancy, app, development, engineering, london, uk, hosting, cloud, sre, devops">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/assets/fabrex/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/assets/fabrex/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/fabrex/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/fabrex/img/logos/apple-touch-icon-114x114.png">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link href="/assets/css/styles.css" rel="stylesheet">
  </head>

  <body class="content fixed-background">


    <nav role="navigation">
      <img src="assets/img/appvia_logo.svg" class="appvia-logo">
      <ul id="mainMenu">
        <li><a href="/new-s1opdafz3wvqvyv1#home">HOME</a></li>
        <li><a href="/new-s1opdafz3wvqvyv1#products">PRODUCTS</a></li>
        <li><a href="/new-s1opdafz3wvqvyv1#services">SERVICES</a></li>
        <li><a href="/new-s1opdafz3wvqvyv1#contact">CONTACT</a></li>
        <li><a href="/blog-s1opdafz3wvqvyv1">BLOG</a></li>
        <li><a href="/careers-s1opdafz3wvqvyv1">CAREERS</a></li>
        <li><a href="/hub-demo-s1opdafz3wvqvyv1" class="request-demo">REQUEST A DEMO</a></li>
      </ul>
      <div id="menuToggle" style="display:none">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <li><a href="#home">HOME</a></li>
          <li><a href="#products">PRODUCTS</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li><a href="#">BLOG</a></li>
          <li><a href="#">CAREERS</a></li>
          <li><a href="#">REQUEST A DEMO</a></li>
        </ul>
      </div>
    </nav>

    <div class="page-title">
      <h1>Site Reliability Engineer</h1>
    </div>

    <div class="center-column" style="margin-top: 3em;">

    <ul class="callout-job">
        <li><span class="callout-head">Type:</span> Permanent/Contractor</li>
        <li><span class="callout-head">Hours:</span> Full-time</li>
        <li><span class="callout-head">Location:</span> London</li>
        <li><span class="callout-head">Posted:</span> 15th March 2019</li>
    </ul>


    <h3>About Appvia</h3>
    <p>Appvia is an IT consultancy providing industry leading engineering. We transform our clients ability to manage software delivery, by understanding requirements and developing solutions that help drive business value.</p>
    <p>One of the core principles to Appvia is company ethos. We have a positive and inclusive culture that ensures a happy team, committed to the quality of our work and who support each other to create a professional business environment. This helps us not only to maintain staff who feel contented and proud of where they work, but also happy and satisfied customers. It is not just our people who buy into our company culture, but our customers too.</p>

    <br /><br />

    <h3>The Role</h3>
    <p>Reporting to the Platform Lead, the Site Reliability Engineer (SRE) will be part of a fast moving and highly technical team working on central platforms to support the software development life cycle. The SRE will work within a central function dedicated to improving a platform built around self service for developers, and will care deeply about building reliable, well-tested systems, collaboratively with others.

    <br /><br />

    <h3>Key Responsibilities</h3>
    <ul class="list-bullet">
      <li>Enhance operational reliability and scalability of existing products</li>
      <li>POC'ing new ideas and products, and balancing trade offs between technical, analytical and product needs.</li>
      <li>Streamlining operational tasks through engineering and automation</li>
      <li>Improving operational visibility around core products such as tracking technologies, improved metrics etc.</li>
      <li>Implementing integrations between components to improve the teams way of working i.e. slack, opsgenie and status pages integrations</li>
      <li>Identify simple innovative technical solutions to complex engineering problems</li>
      <li>Improve knowledge amongst the team through code reviews, documentation, technical guidance and mentoring.</li>
      <li>Collaborate with product engineers regarding technical implementation and product improvements</li>
      <li>Reduce the number of DevOps resources in projects by enabling developers to be more self-service.</li>
    </ul>

    <br /><br />

    <h3>We're looking for someone with</h3>
    <ul class="list-bullet">
      <li>Good understanding of industry best practices</li>
      <li>Proven track record of developing APIs</li>
      <li>A passion for new technology and automation</li>
      <li>Enjoys solving difficult technical problems</li>
      <li>Good knowledge of continuous integration and deployment practices</li>
      <li>Great collaboration skills with people of all levels of technical ability</li>
      <li>An understanding of the importance of being user driven and the benefits of DevOps principles, agile ways of working, collaboration and transparency</li>
      <li>Software development experience in one or more general purpose programming languages</li>
      <li>Experience with building web applications using frameworks like Angular, React or Ember</li>
      <li>Extensive knowledge of container based technologies (Docker / Kubernetes)</li>
      <li>Experience with cloud computing services (AWS or GCP)</li>
      <li>Fantastic communication skills, both written and verbal.</li>
      <li>Good software engineering principles</li>
      <li>Experience on building decoupled services with micro-service architecture</li>
    </ul>

    <br /><br />

    <h3>What you'll get in return</h3>
    <ul class="list-bullet">
      <li>Competitive salary</li>
      <li>25 Days Holiday (plus bank holidays)</li>
      <li>Flexible working hours</li>
      <li>Performance Related Bonus</li>
      <li>Pension</li>
    </ul>

    <br /><br />

    <p>Note: As some of our customers require Security Clearance, you will need to be eligible, this
        means you will need:</p>

    <ul class="list-bullet">
      <li>To have resided in the country for at least 5 years</li>
      <li>Have no criminal records</li>
      <li>Have no financial irregularities</li>
    </ul>


    <a href="mailto:hr@appvia.io?subject=Application for Site Reliability Engineer position" class="button">Apply</a>

    <p><strong class="strong">Please include a copy of your CV and your GitHub ID</strong></p>

</div>


  </body>
</html>
