{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}
{% import "../views/partials/footer.html" as footer %}

{% set pageClass = 'content background-fixed background-7' %}

{% block content %}

  {{ navigation.nav('products') }}

  <div class="center-column">
    {{ breadcrumb.links([{ text: 'Products', link: '/products' }, { text: 'Prouct', link: false }]) }}
    <div class="page-title sub-page">
      <h1>KISS</h1>
    </div>
	  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 blog-body">
      <h1>The benefits of Kubernetes Infrastructure Security Scanner</h1>
      <p>Role-based access controls (RBAC) automatically grant user permissions across your Kubernetes clusters. Our Kubernetes Infrastructure Security Scanner (KISS) tool makes managing them simpler.
      <p>When you deploy components like Ingress, certificate management and key management into Kubernetes to enhance your app, managing the access controls to them is vital. It can also be complicated and problematic, especially when running your app across multiple clusters.</p>
      <p>KISS delivers clear sight of your role-based security. It does this by attaching to all your Kubernetes clusters and scanning for RBAC data. This builds a full picture of the relationships between users, groups or service accounts to the controls, no matter how complex.</p>
      <p>Using this information, KISS quickly finds issues around access policy defaults, and will automatically raise alerts about any changes that may pose a risk to the security of your overall platform. It can even go a step further and make recommendations on best practices for a secure RBAC implementation.</p>


      <h2>What it does for you:</h2>
      <ul class="list-tick mb-2">
          <li>Provides assurance by auditing your kubernetes security risks</li>
          <li>Searchable RBAC information across your clusters</li>
          <li>Make sure users and applications have the right access permissions</li>
          <li>Industry best practice suggestions to improve your security posture</li>
      </ul>

      <p>You can view the KISS <a href="https://github.com/appvia/rbacvis">GitHub repo</a> for more information or to download it.</p>

       
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="/assets/img/undraw_in_progress_ql66.svg" style="width: 100%">
      </div>
	  </div>
  </div>
    {{ footer.footer() }}
{% endblock %}
