{% extends 'layout.html' %}
{% block content %}

    {% import "../views/partials/nav.html" as navigation %}
    {{ navigation.nav('products') }}

    {% import "../views/partials/headers.html" as header %}
    {{ header.nav('Products', [{ text: 'Products', link: '/products' },{ text: 'Hub Demo Instructions', link: false }], '', '0', 'background-position-1') }}

    <section class="padding-80">
        <div class="container">
          <div class="section-heading">
            <h3>Hub Demo Instructions</h3>
          </div>
          <div class="row justify-content-center">
            <div class="services-block-two margin-30px-bottom xs-margin-20px-bottom text-justify col-sm-12 col-md-6">

              <form class="mb-5" data-parsley-validate>
                {% if email %}
                <p>
                  Before you start the demo, please ensure that you have joined the Github organisation we’ve created for this hub demo via the email from GitHub.
                </p>

                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="acknowledge" required data-parsley-error-message="Please join the Github organisation we setup for this demo">
                  <label class="form-check-label" for="acknowledge">Yes I've done this</label>
                </div>

                {% else %}
                  <p>As we create an isolated place for you to test the Hub, we need to use your signup email for your access to the demo.</p>
                  <label for="email"><strong>Signup email</strong></label>
                  <div class="mb-2">Please provide the email address you used when signing up for the demo</div>
                  <div class="form-row">
                    <div class="col-7">
                      <input class="form-control" type="text" name="email" id="email" required  value="{{email}}" />
                    </div>
                  </div>
                {% endif %}

                <button type="submit"id="submit-form"class="butn mt-4"><span>Start the Hub Demo</span></button>
                </form>

                <h4>FAQ</h4>
                <div id="accordion" class="accordion-style2">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Appvia HUB Prerequisites
                              </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                              <ul class="bullets">
                                <li>GitHub Account (see above)</li>
                                <li>A basic understanding of the following:</li>
                                <ul class="bullets">
                                  <li>Source Code</li>
                                  <li>Docker</li>
                                  <li>Kubernetes</li>
                                </ul>
                              </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Limitations
                              </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                              <ul class="bullets">
                                <li>
                                  <strong>A Small Kubernetes Cluster</strong><br>
                                  <span>We’ve created a dedicated Kubernetes cluster with a couple of nodes and some resources limits. Please use the Chat facility <img src="/img/crisp-logo.png" alt="Crisp Chat Logo" width="26"> if you need more resources to complete your evaluation.</span>
                                </li>
                                <li>
                                  <strong>Admin pages</strong><br>
                                  <span>For demo purposes, unfortunately you won’t be an administrator of the Hub. See <a href="/products/hub-demo/integration-setup-admin-pages">Demo Integration Setup</a></span>
                                </li>
                              </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Feedback / Help for the Hub Demo
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                              <ul class="bullets">
                                <li>Use this icon <img src="/img/crisp-logo.png" alt="Crisp Chat Logo" width="26"> within your demo instance to get help on using the demo.</li>
                                <li><a href="https://github.com/appvia/appvia-hub" target="_blank">Appvia Hub on GitHub</a></li>
                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <img src="/img/hub-screenshot.png" alt="The Hub Screenshot" class="shadow mb-5 rounded">
              </div>
          </div>
        </div>
    </section>

{% endblock %}

{% block customScripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.1/parsley.min.js"></script>
  <script src="/assets/fabrex/js/form.js"></script>
{% endblock %}
