<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="ChitrakootWeb" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Appvia - Simplify building and deploying software" />
    <meta name="author" content="Appvia">
    <meta name="keywords" content="appvia, kubernetes, software, consultancy, app, development, engineering, london, uk, hosting, cloud, sre, devops">


    <!-- title  -->
    <title>{{title}}</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/fabrex/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/assets/fabrex/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/fabrex/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/fabrex/img/logos/apple-touch-icon-114x114.png">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


		<link href="/assets/css/new.css" rel="stylesheet">


  </head>

  <body>





    <div class="debug">
    <label><input type="checkbox"> Debug</label>
  </div>

<!--
  <div class="demo__info">
    Pure CSS parallax scroll demo #3 by Keith Clark. Please read the <a href="../">blog post</a> for more information.
  </div>
-->


<nav role="navigation">
  <img src="assets/img/appvia_logo.svg" class="appvia-logo">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a href="#"><li>HOME</li></a>
      <a href="#"><li>PRODUCTS</li></a>
      <a href="#"><li>SERVICES</li></a>
      <a href="#"><li>CONTACT</li></a>
    </ul>
  </div>
</nav>

  <div class="parallax">
    <div id="group1" class="parallax__group">
      <div class="parallax__layer parallax__layer--back background-1"></div>
      <div class="parallax__layer parallax__layer--fore">
        <div class="title scale-in-center">
          <h1 class="text-1 uppercase">Enable developers to deliver software quickly and efficiently</h1>
          </div>
        </div>
        <div class="scroll">Scroll<br />
        <i class="fa fa-angle-down slide-bottom-fade"></i>
      </div>
    </div>
    <div id="group2" class="parallax__group background-2">
      <div class="parallax__layer parallax__layer--base">
        <h1 class="text-2 uppercase">Get visibility of your applications across your teams</h1>
      </div>
      <div class="parallax__layer parallax__layer--fore">
        <h1 class="text-3 uppercase">Be secure and get best practices out of the box</h1>
      </div>
    </div>
    <!--
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title"><h1 class="scale-in-center text-1">Be secure and get best practices out of the box</h1></div>
      </div>
      <div class="parallax__layer parallax__layer--base">

      </div>
    </div>
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title"><h1>Be secure and get best practices out of the box</h1></div>
      </div>
      <div class="parallax__layer parallax__layer--back">

      </div>

      <div class="parallax__layer parallax__layer--deep">
        <div class="title">Deep Background Layer</div>
      </div>

    </div>
  -->
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--base background-3">
        <div class="title-2">
          <h1 class="text-4 uppercase">Why Do We Exist?</h1>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--fore">
        <div class="column1-4 col-style1 ">
          <h1>“We want to help organisations deliver amazing products and applications”</h1>
        </div>
        <div class="column1-4 col-style1">
        <h1>“We love engineering and built products around making this happen”</h1>
      </div>
        <div class="column1-4 col-style1">
        <h1>“We believe in giving back to the community and open source”</h1>
        </div>
        <div class="column1-4 col-style1">
        <h1>“We want to give an organisation a standard but efficient way to deliver modernised apps”</h1>
        </div>
      </div>
    </div>
    <!--
    <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
          <h1>“We want to help organisations deliver amazing products and applications”</h1>
        </div>
      </div>
    </div>
    <div id="group7" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
          <h1>“We love engineering and built products around making this happen”</h1>
        </div>
      </div>
    </div>
    <div id="group8" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">
          <h1>“We believe in giving back to the community and open source”</h1>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title"></div>
      </div>
    </div>
    <div id="group9" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">
          <h1>“We want to give an organisation a standard but efficient way to deliver modernised apps”</h1>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title"></div>
      </div>
    </div>
  -->
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base background-4">
        <div class="title-2">
          <h1 class="text-5 uppercase">Choose your journey</h1>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--fore">
        <div class="title-3">
        <h2>Are you a Developer?</h2>
        <button class="choice">Yes</button>
        <button class="choice">No</button>
      </div>
      </div>
    </div>

    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title-2">
          <h1 class="text-5 uppercase">Products</h1>
        </div>
      </div>
    </div>
    <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title-2">
          <h1 class="text-5 uppercase">Services</h1>
        </div>
      </div>
    </div>

    <div id="group7" class="parallax__group">
      <div class="parallax__layer parallax__layer--base  background-1">
        <div class="title-5">
          <h1 class="text-5 uppercase">Get in Touch</h1>
        </div>
          <h2 class="title-4">Let us help your business achieve more.</h2>
          <div class="copyright">
            © 2019 Appvia
          </div>
      </div>
      <div class="parallax__layer parallax__layer--fore">
        <div class="column1-4 col-style2">
          <h3>Call us</h3>
          <p>+44 (0)203 475 0546</p>
        </div>
        <div class="column1-4 col-style2">
          <h3>Visit us</h3>
          <p>Ground Floor, Cap House 9 - 12 Long Lane London, EC1A 9HA</p>
        </div>
        <div class="column1-4 col-style2">
          <h3>Email us</h3>
          <p>info@appvia.io</p>
        </div>
        <div class="column1-4 col-style2">
          <h3>Connect with us</h3>
          <ul class="social-icons">
            <li><a href="https://www.linkedin.com/company/appvia/"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://twitter.com/appvia_io"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://medium.com/appvia"><i class="fab fa-medium"></i></a></li>
            <li><a href="https://github.com/appvia"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>






<!--
		<div class="main-wrapper">

		  <div class="slide slide-one" data-background="#1a1a1d">
		    <div class="inside">
		    <p><img src="assets/img/appvia_logo_white.svg" class="appvia-logo"> <br>
		<i class="fa fa-angle-down"></i></p>
		    </div>
		  </div>
		  <div class="slide slide-two" data-background="#4e4e50">
		    <div class="inside">
					<h1>Enable your developers to deliver software quickly and efficiently</h1>
		      <p>Keep Scrolling</p>
		    </div>
		  </div>
		  <div class="slide slide-three" data-background="#6f2232">
		    <div class="inside">
					<h1>Get visibility of your applications across your teams</h1>
		      <p>Keep Scrolling</p>
		    </div>
		  </div>
		  <div class="slide slide-four" data-background="#e67e22">
		    <div class="inside">
		      <p>Keep Scrolling</p>
		    </div>
		  </div>
		  <div class="slide slide-five" data-background="#9b59b6">
		    <div class="inside">
		      <p>Keep Scrolling</p>
		    </div>
		  </div>

		  <div class="slide slide-five" data-background="#34495e">
		    <div class="inside">
		      <p>Last Section</p>
		    </div>
		  </div>

		</div>



	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
	<script src="/assets/js/jquery.scrollie.min.js"></script>
	<script src="/assets/js/script.js"></script>
-->
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
<script>
  var debugInput = document.querySelector("input");
  function updateDebugState() {
      document.body.classList.toggle('debug-on', debugInput.checked);
  }
  debugInput.addEventListener("click", updateDebugState);
  updateDebugState();
</script>

  </body>
</html>
