<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="ChitrakootWeb" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Appvia - Simplify building and deploying software" />
    <meta name="author" content="Appvia">
    <meta name="keywords" content="appvia, kubernetes, software, consultancy, app, development, engineering, london, uk, hosting, cloud, sre, devops">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/assets/fabrex/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/assets/fabrex/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/fabrex/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/fabrex/img/logos/apple-touch-icon-114x114.png">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link href="/assets/css/new.css" rel="stylesheet">
  </head>

  <body>

    <div class="debug">
      <label><input type="checkbox"> Debug</label>
    </div>

    <nav role="navigation">
      <img src="assets/img/appvia_logo.svg" class="appvia-logo">
      <ul id="mainMenu">
        <li><a href="#home">HOME</a></li>
        <li><a href="#products">PRODUCTS</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/careers">CAREERS</a></li>
        <li><a href="/products/hub-demo" class="request-demo">REQUEST A DEMO</a></li>
      </ul>
      <div id="menuToggle" style="display:none">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <li><a href="#home">HOME</a></li>
          <li><a href="#products">PRODUCTS</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li><a href="/blog">BLOG</a></li>
          <li><a href="/careers">CAREERS</a></li>
          <li><a href="/products/hub-demo">REQUEST A DEMO</a></li>
        </ul>
      </div>
    </nav>

    <div class="parallax">

      <div id="home"></div>
      <div id="group1" class="parallax__group">
        <div class="parallax__layer parallax__layer--back background-1"></div>
        <div class="parallax__layer parallax__layer--fore">
          <div class="title scale-in-center">
            <h1 class="text-1">
              <span style="font-size: .3em;
                  margin-left: .3em;
                  display: block;
                  margin-bottom: -.8em;
                  margin-top: -1em;">How we can help</span>
              <span class="uppercase"
                  style="color:#c3073f;
                  border-bottom: solid 2px;
                  display: block;
                  padding-bottom: .1em;">Kubernetes to fit your needs</span>
              <span style="font-size: .3em;
                  display: block;
                  margin-top: -.5em;">Fully managed by a team of experts</span>
            </h1>
          </div>
        </div>
      </div>

      <div class="scroll">
        <div>Scroll</div>
        <i class="fa fa-angle-down slide-bottom-fade"></i>
      </div>

      <div id="group2" class="parallax__group background-2">
        <div class="parallax__layer parallax__layer--base">
          <h1 class="text-2 uppercase">Empowering your business</h1>
        </div>
        <div class="parallax__layer parallax__layer--fore">
          <p class="text-3">With technical issues behind the scenes, companies are often forced to neglect their front-line products and services. Let us handle your infrastructure,
            while you focus on your strengths. Give your developers a break. <strong>Create a better product</strong>.</p>
        </div>
      </div>

      <div id="group3" class="parallax__group">
        <div class="parallax__layer parallax__layer--base background-3">
          <div class="title-2">
            <h1 class="text-4 uppercase">Why Do We Exist?</h1>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--fore">
          <div class="column1-4 col-style1 ">
            <blockquote class="quote">
              <p>We want to help organisations deliver amazing products and applications.</p>
            </blockquote>
          </div>
          <div class="column1-4 col-style1">
            <blockquote class="quote">
              <p>We love engineering and built products around making this happen.</p>
            </blockquote>
          </div>
          <div class="column1-4 col-style1">
            <blockquote class="quote">
              <p>We believe in giving back to the community and open source.</p>
            </blockquote>
          </div>
          <div class="column1-4 col-style1">
            <blockquote class="quote">
              <p>We want to give an organisation a standard but efficient way to deliver modernised apps.</p>
            </blockquote>
          </div>
        </div>
      </div>

      <div id="group4" class="parallax__group">
        <div class="parallax__layer parallax__layer--base background-4">
          <div class="title-2">
            <h1 class="text-5 uppercase">Choose your journey</h1>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--fore">
          <div class="title-3">
          <h2>Are you a Developer?</h2>
          <button class="choice">Yes</button>
          <button class="choice">No</button>
        </div>
        </div>
      </div>

      <div id="products"></div>
      <div id="group5" class="parallax__group">
        <div class="parallax__layer parallax__layer--base background-6">
          <div class="title-2">
            <h1 class="text-5 uppercase">Products</h1>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--fore">
          <div class="text-3" style="margin-top:14em;width:98%">
            <img src="/assets/img/3-containers.png" style="float:right;width:30%">
            <h2 style="color: #c3073f">Focus on your application</h2>
            <p>With technical issues behind the scenes, companies are often forced to neglect their front-line products and services.
            Let us handle your infrastructure, while you focus on your strengths. Give your developers a break. Create a better product.</p>
        </div>
        </div>
      </div>
      <div id="group6" class="parallax__group">
        <div class="parallax__layer parallax__layer--base background-7">
          <img src="/assets/img/shipping-yard.png" style="width:30%;margin-top:4em">
        </div>
        <div class="parallax__layer parallax__layer--fore">
          <div class="text-6" style="margin-top:10em">
          <h2 style="color: #c3073f; ">Infrastructure you can build on</h2>
          <p>Growing companies need robust and agile infrastructure. We create fault-tolerant, self-healing systems that provide the stability and confidence you need to grow your application.</p>
          <p>We’ll also create future-proofed solutions that support new strategies, and automatically scale up alongside your company as you take it to the next level.</p></div>
        </div>
      </div>
      <div id="group7" class="parallax__group">
        <div class="parallax__layer parallax__layer--base background-3">
          <img src="/assets/img/cloud-security.png" style="width:30%;margin-top:6em;float:right">
        </div>
        <div class="parallax__layer parallax__layer--fore">
          <div class="text-3" style="margin-top:10em">
            <h2 style="color:rgb(26, 26, 29);">Personalized Kubernetes training</h2>
            <p>Don’t let the complexities of Kubernetes be a barrier to making a fresh start. We’ll introduce your engineers to Kubernetes with customized training. With our help, you can implement Kubernetes the right way, the first time.</p>
          </div>
        </div>
      </div>

      <div id="group8" class="parallax__group">
        <div class="parallax__layer parallax__layer--base background-2" style="text-align:center">
          <img src="/assets/img/products-banner.png"
            style="width: 240%;
            margin-top: 3em;
            margin-left: -89%;">
        </div>
        <div class="parallax__layer parallax__layer--fore">
          <div class="title-3" style="margin-top:12em">
            <h2 style="color: #c3073f; ">Improving Kubernetes systems</h2>
            <p>We can help businesses who are already using Kubernetes get a hold on their system. We’ll optimize, we’ll improve, and we’ll walk you through the entire process, leaving you with more efficient, more empowering infrastructure.</p>
          </div>
        </div>
      </div>

      <div id="services"></div>
      <div id="group9" class="parallax__group">
        <div class="parallax__layer parallax__layer--base background-4">
          <div class="title-2">
            <h1 class="text-5 uppercase">Services</h1>
          </div>
        </div>
        <div class="parallax__layer parallax__layer--fore" style="margin-top:10em">
          <div class="column1-3 col-style3 ">
            <i class="fas fa-layer-group services-icons"></i>
            <h3 class="uppercase">Kubernetes</h3>
            <p>We build and manage advanced Kubernetes based platforms to service all the applications across your business.</p>
          </div>
          <div class="column1-3 col-style3">
            <i class="fas fa-cloud services-icons"></i>
            <h3 class="uppercase">Cloud</h3>
            <p>Organisations from across UK Government and the private sector have transformed their technology capability thanks to our olutions and support.</p>
          </div>
          <div class="column1-3 col-style3">
            <i class="fas fa-shield-alt services-icons"></i>
            <h3 class="uppercase">Security</h3>
            <p>We’re obsessive when it comes to security best practices.</p>
          </div>
          <div class="column1-3 col-style3">
            <i class="fas fa-user-tie services-icons"></i>
            <h3 class="uppercase">Consulting</h3>
            <p>We recognise that we need to work around our user and listen to what they need and want in order to provide the best help. </p>
          </div>
          <div class="column1-3 col-style3">
            <i class="fas fa-life-ring services-icons"></i>
            <h3 class="uppercase">Support and Training</h3>
            <p>We provide full support for every service we deliver and can train your teams to understand every element of our solutions as if they were your own.</p>
          </div>
          <div class="column1-3 col-style3">
            <i class="fas fa-book-open services-icons"></i>
            <h3 class="uppercase">Public Sector</h3>
            <p>We're suppliers to the public sector and listed on the <a href="https://www.digitalmarketplace.service.gov.uk/g-cloud/search?q=appvia+ltd">GOV.UK Digital Marketplace</a>.</p>
          </div>
        </div>

      </div>

      <div id="contact"></div>
      <div id="group10" class="parallax__group">
        <div class="parallax__layer parallax__layer--base  background-5">
          <div class="title-5">
            <h1 class="text-5 uppercase">Get in Touch</h1>
          </div>
            <h2 class="title-4">Let us help your business achieve more.</h2>
            <div class="copyright">
              © 2019 Appvia
            </div>
        </div>
        <div class="parallax__layer parallax__layer--fore">
          <div class="column1-4 col-style2">
            <h3 class="uppercase">Call us</h3>
            <p>+44 (0)203 475 0546</p>
          </div>
          <div class="column1-4 col-style2">
            <h3 class="uppercase">Visit us</h3>
            <p>Ground Floor, Cap House 9 - 12 Long Lane London, EC1A 9HA</p>
          </div>
          <div class="column1-4 col-style2">
            <h3 class="uppercase">Email us</h3>
            <p>info@appvia.io</p>
          </div>
          <div class="column1-4 col-style2">
            <h3 class="uppercase">Connect with us</h3>
            <ul class="social-icons">
              <li><a href="https://www.linkedin.com/company/appvia/"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="https://twitter.com/appvia_io"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://medium.com/appvia"><i class="fab fa-medium"></i></a></li>
              <li><a href="https://github.com/appvia"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script>
      //parallax debug
      var debugInput = document.querySelector("input");
      function updateDebugState() {
          document.body.classList.toggle('debug-on', debugInput.checked);
      }
      debugInput.addEventListener("click", updateDebugState);
      updateDebugState();

      //smooth scroll to anchor
      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', function (e) {
              e.preventDefault();
              document.querySelector(this.getAttribute('href')).scrollIntoView({
                  behavior: 'smooth'
              });
          });
      });
    </script>

  </body>
</html>
