{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}
{% import "../views/partials/footer.html" as footer %}

{% set pageClass = 'content fixed-background' %}

{% block content %}

  {{ navigation.nav('privacy', hubDemoEnabled) }}

  {{ breadcrumb.links([{ text: 'Privacy Policy', link: false }]) }}


  <div class="page-title">
    <h1>Appvia Privacy Policy</h1>
  </div>

  <div class="center-column">

    <p><i>Last updated 23rd July 2019</i></p>

    <p>The EU General Data Protection Regulation (GDPR), which is enforceable from 25 May 2018, provides new rights
        to individuals and requires organisations to provide information about their processing in a clear and
        transparent way. We have published this updated Privacy Statement to take into account new requirements and
        to explain how we collect, store and use personal data. When we refer to “we”, “us” or “our” in this
        Statement we mean Appvia Ltd.</p>

    <p>This Privacy Statement applies to personal data collected by Appvia and processed at our registered offices:
        Appvia Ltd, Ground Floor, Cap House 9 - 12 Long Lane London, EC1A 9HA. Appvia Ltd is committed to protecting
        the privacy of our clients and subscribers. We endeavour to comply with the Data Protection Act 2018, the EU
        General Data Protection Regulation (GDPR), the Privacy and Electronic Communications (EC Directive)
        Regulations 2003 (amended) and other relevant legislation.</p>

    <h4>How to contact us</h4>
    <p>If you have any questions about this Privacy Statement or would like to contact us about any other matter,
        please use the following contact information:</P>
    <p>
        <strong>Email:</strong> <a href="mailto:info@appvia.io">info@appvia.io</a><br/>
        <strong>Address:</strong> Ground Floor, Cap House 9 - 12 Long Lane London, EC1A 9HA
    </p>


    <h4>How we collect your personal data</h4>
    <p>We collect personal data in the following ways:</p>
    <ul class="list-bullet">
        <li>When you provide your contact details to us when requesting information about our products or services,
            either via the telephone, our online enquiry forms or face-to-face
        </li>
        <li>When you request any Appvia demos</li>
        <li>Via openly available public sources (e.g. LinkedIn or company websites)</li>
        <li>The types of personal data we collect</li>
        <li>
            The personal data we routinely collect includes:
            <ul class="list-bullet small">
                <li>Full Name</li>
                <li>Email</li>
                <li>Company Name</li>
                <li>Role</li>
                <li>Company Size</li>
                <li>GitHub ID</li>
            </ul>
        </li>
    </ul>

    <h4>How we use your personal data</h4>
    <p>We may use your personal data for the following purposes:</p>

    <ul class="list-bullet">
        <li>Purpose Lawful basis for processing</li>
        <li>To fulfil a query, request for services and/or to administer our services For the performance of a
            contract or agreement
        </li>
        <li>To facilitate your attendance at one of our events or webinars, or facilitate access to one of our
            online courses For the performance of a contract or agreement
        </li>
        <li>To maintain records of prospective, current and past clients and our suppliers Our Legitimate Interests,
            which we have balanced with the interests of our clients, suppliers and business contacts
        </li>
        <li>To contact you to ask if you might be interested in being a guest speaker, sponsoring one of our events
            or advertising on our sites Our Legitimate Interests, which we have balanced with the interests of our
            clients, suppliers and business contacts
        </li>
        <li>To track your use of our websites and interaction with our newsletters. For example, to understand which
            newsletter content is most popular with our email audience. (Please also see our Cookie Notice below).
            Our Legitimate Interests, which we have balanced with the interests of our clients, suppliers and
            business contacts
        </li>
    </ul>

    <h4>How we keep your personal data secure</h4>
    <p>Appvia take the protection of your personal data very seriously and we take appropriate steps to ensure your
        personal data is stored in a secure environment to prevent any unauthorised access. Appvia may use external
        data service providers to process personal data on our behalf, for example in providing our “GDPR
        Fundamentals” online course.
        When we do so we have appropriate agreements in place to protect the data. Any data transfers between
        external service providers and ourselves are conducted by secure means. Where such service providers are
        located outside the EEA we have additional contractual arrangements in place.</p>

    <h4>Sharing of your personal data</h4>
    <p>We will not share your personal information with any third parties for them to use for their own marketing
        purposes. We may disclose your personal data if required to do so by law.</p>

    <h4>How long we store your personal data for</h4>
    <p>We will only retain personal data for as long as is necessary for the purposes we are using it for. How long
        we retain data will vary depending on the purposes it is used for. We routinely update our email newsletter
        lists to ensure those who are not engaged are removed.</p>

    <h4>External Links</h4>
    <p>Please remember that if you use a link to go from our websites to another website, or you request a service
        from a third party, this Privacy Statement will no longer apply once you have left this website. Your
        browsing and interaction on any other website is subject to that website’s own rules and policies.</p>

    <h4>Updates to this Statement</h4>
    <p>We review and update this Statement regularly to take account of changes to our processing and regulatory
        changes. We encourage you to review it from time to time. If we make any significant changes to this
        Statement, we will endeavour to communicate this to you where possible.</p>

    <h4>Cookie Notice</h4>
    <p>We currently do not use cookies on our Appvia website. We use essential cookies to operate our demos and
        basic aggregated, depersonalised Google Analytics cookies to better understand how visitors use our website
        and to ensure we continually work to we provide the type of content which our visitors are most interested
        in.</P>

    <h4>What is a cookie?</h4>
    <p>Cookies are text files which contain information about your internet usage that is held in your browser or on
        your computer’s hard drive. There are different types of cookie: some are essential for the site to operate
        properly, whereas others are aimed at enhancing and personalising your user experience. Cookies can help us
        to understand how consumers are interacting with our website, which helps us to improve our site and to
        deliver a better service to you.</P>

    <h4>What types of cookies do we use?</h4>
    <p>We use strictly necessary cookies which are essential to enable you to move around the website and use its
        features. Without these cookies we cannot provide some of the basic functionalities of our website. We use
        Google Analytics to track the usage of our websites and your interaction with it. We currently reviewing our
        use of analytics cookies and will be updating this notice in due course.</p>

    <h4>How to turn off cookies</h4>
    <p>You can turn cookies off at any time, by going into your browser settings, however this may have a
        detrimental effect on your user experience.</p>

    <p>For information on how to turn off Google Analytics please see: <a
            href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>

    <p>If you have any concerns about the cookies we use, please contact: <a href="mailto:info@appvia.io">info@appvia.io</a>.</p>

  </div>


{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}
