{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/footer.html" as footer %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}

{% set pageClass = 'content background-fixed background-1' %}

{% block content %}

  {{ navigation.nav('products') }}

<div class="center-column">
  {{ breadcrumb.links([{ text: 'Our Poducts', link: false }]) }}
  <div class="page-title">
    <h1>Our Products</h1>
  </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="section-panel hero-toplevel mt-3">
          <h2>What we’ve created to make your tech life easier and more efficient.</h2>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 text-center mt-2">
        <img src="/assets/img/undraw_deliveries_131a.svg" style="width: 90%;">
      </div>
    </div>
    <div class="row  mt-4">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="section-panel hero-toplevel item">
          <h2>Appvia Hub</h2>
          <p>Give your developers the platform and tools they need to deliver brilliant software - all in one place.</p>
          <a href="/products/hub" class="button">Find out more</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="section-panel hero-toplevel item">
          <h2>KISS</h2>
          <p>Make it easier to manage role-based access controls (RBAC) across your Kubernetes clusters.</p>
          <a href="/products/kubernetes-security-scanner" class="button">Find out more</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}
