{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/footer.html" as footer %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}

{% set pageClass = 'content background-fixed background-2' %}

{% block content %}

  {{ navigation.nav('services') }}

<div class="center-column">
  {{ breadcrumb.links([{ text: 'Our Services', link: false }]) }}
  <div class="page-title">
    <h1>Our Services</h1>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="section-panel hero-toplevel mt-3">
        <h2>Services that support your business</h2>
        <p>We have the knowledge and experience to offer invaluable support to your organisation at all levels.</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 text-center">
      <img src="/assets/img/undraw_on_the_way_ldaq.svg" style="width:90%;margin-top:2em">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="section-panel hero-toplevel item">
        <h2>Consultancy services</h2>
        <p>Use our expertise and advice to create your container, cloud or DevOps strategies.</p>
        <p><a href="/services/consultancy" class="button">Find out more</a></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="section-panel hero-toplevel item">
        <h2>Complete Kubernetes</h2>
        <p>We can provide a total service from strategy and build to management and support.</p>
        <p><a href="/services/consultancy" class="button">Find out more</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="section-panel hero-toplevel item">
        <h2>Support services</h2>
        <p>We provide everything from full training with our engineers to ongoing support by phone, email and live chat.</p>
        <p><a href="/services/support" class="button">Find out more</a></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 ">
    </div>
  </div>

</div>

{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}
