{% extends 'layout.html' %}
{% block content %}

    {% import "../views/partials/nav.html" as navigation %}
    {{ navigation.nav('services') }}

    {% import "../views/partials/headers.html" as header %}
    {{ header.nav('Services', [{ text: 'Services', link: false }], '', '0', 'background-position-2') }}


        <section class="padding-80">
          <div class="container">

            <div class="section-heading">
                <h3>What We Offer</h3>
                <p class="width-55 sm-width-75 xs-width-95">Appvia provides technical transformation services to help deliver innovative and simple solutions to your business.</p>
            </div>

            <div class="row justify-content-center">
              <div class="services-block-two col-sm-12 margin-30px-bottom xs-margin-20px-bottom">
                <div class="inner-box">
                  <div class="icon-box">
                    <span class="icon-layers"></span>
                  </div>
                  <h3>Kubernetes</h3>
                  <p>We build and manage advanced Kubernetes based platforms to service all the applications across your business, enabling your team to focus on delivering brilliant results with all the tools they need to support them. We’re also active maintainers of the Kops project because it’s in our interest (and yours) to stay on top of every new development.</p>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="services-block-two col-sm-12 margin-30px-bottom xs-margin-20px-bottom">
                <div class="inner-box">
                  <div class="icon-box">
                    <span class="icon-cloud"></span>
                  </div>
                  <h3>Cloud</h3>
                  <p>Organisations from across UK Government and the private sector have transformed their technology capability thanks to our public cloud and open-source solutions and support.</p>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="services-block-two col-sm-12 margin-30px-bottom xs-margin-20px-bottom">
                <div class="inner-box active">
                  <div class="icon-box">
                    <span class="icon-shield"></span>
                  </div>
                    <h3>Security</h3>
                    <p>We’re obsessive when it comes to security best practices. We build security in at every stage of the application lifecycle, and ensure that trust exists in all the complex software layers that underpin your suite of software services.</p>
                    <p class="mt-2">Our security tools provide you with good management of the complexities of Kubernetes RBAC, Kubernetes protective monitoring, container security scanning and visibility as well as policy driven application deployment restrictions</p>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="services-block-two col-sm-12 margin-30px-bottom xs-margin-20px-bottom">
                <div class="inner-box">
                    <div class="icon-box">
                      <span class="icon-profile-male"></span>
                    </div>
                    <h3>Consulting</h3>
                    <p>We recognise that we need to work around our users and listen to what they need and want in order to provide the best help. That’s why all our solutions are custom built and you’ll never be locked in to using proprietary software you don’t need, or support models that leave your business reliant on one vendor.</p>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="services-block-two col-sm-12 margin-30px-bottom xs-margin-20px-bottom">
                  <div class="inner-box">
                      <div class="icon-box">
                          <span class="icon-lifesaver"></span>
                      </div>
                      <h3>Support and Training</h3>
                      <p>We provide full support for every service we deliver and can train your teams to understand every element of our solutions as if they were your own.</p>
                      <p class="mt-2">Speed, support, security and flexibility – it’s all there in the Appvia package, but we’re aiming a bit higher and so should you.</p>
                  </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="services-block-two col-sm-12 margin-30px-bottom xs-margin-20px-bottom">
                  <div class="inner-box">
                      <div class="icon-box">
                          <span class="icon-book-open"></span>
                      </div>
                      <h3>Public Sector</h3>
                      <p>We're suppliers to the public sector and listed on the <a href="https://www.digitalmarketplace.service.gov.uk/g-cloud/search?q=appvia+ltd">GOV.UK Digital Marketplace</a>.</p>
                  </div>
              </div>
            </div>

          </div>
        </section>

<!-- end clients section -->
{% endblock %}
