{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}
{% import "../views/partials/footer.html" as footer %}

{% set pageClass = 'content background-fixed background-4' %}

{% block content %}

  {{ navigation.nav('Services') }}

  <div class="center-column">
    {{ breadcrumb.links([{ text: 'Services', link: '/services' }, { text: 'Support', link: false }]) }}
    <div class="page-title sub-page">
      <h1>Support</h1>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 blog-body">
        <h1>Training and support for your business</h1>
        <p>Delivering platforms that work for your business is the beginning of your digital evolution. Your employees also need to be comfortable and confident with them, so that they can become a more effective delivery team - and quickly.  </p>
        <p>We can train your employees to understand every detail about the solutions we provide. Once you're up and running, we can provide the reassurance of support to whatever level you need - even if that's every minute of the year.</p>



        <div class="tabs">
          <div class="tab">
              <input type="checkbox" id="chck1">
              <label class="tab-label" for="chck1">Application container platform support</label>
              <div class="tab-content">
                <p>When you have container-based platforms for delivering apps, we can provide engineers to give you second, third and even the most specialist fourth line support. They'll make sure your platform meets the operational requirements you - and the app it needs to manage - demand from it.</p>
                <p>Our application container platform support service includes</p>
                <ul class="list-bullet">
                  <li>A dedicated support team of highly experienced engineers</li>
                  <li>Early detection of potential Service Level Agreement (SLA) breaches</li>
                  <li>A single point of contact for all incidents</li>
                  <li>Optional extended hours support, even 24/7 all year</li>
                  <li>The ability to work with third parties and Operational Level Agreements</li>
                  <li>Site Reliability Engineering (SRE) to improve operational effectiveness</li>
                </ul>
              </div>
            </div>
            <div class="tab">
              <input type="checkbox" id="chck2">
              <label class="tab-label" for="chck2">Kubernetes platform support</label>
              <div class="tab-content">
              <p>We can build and manage advanced Kubernetes based platforms for all the applications across your business - then offer comprehensive 24/7 support to keep them running. So your team can focus on delivering results. We're also active contributors to the Kops project, so we're at the forefront of every new development.</p>

              <p>Our Kubernetes platform support service includes</p>

              <ul class="list-bullet">
                <li>Managed RBAC</li>
                <li>Cluster monitoring with guaranteed Service Level Agreements (SLAs)</li>
                <li>Security patches and upgrades</li>
                <li>Log aggregation and monitoring</li>
                <li>Continuous integration and deployment</li>
                <li>Management of your docker registry</li>
              </ul>
              </div>
            </div>
            <div class="tab">
              <input type="checkbox" id="chck3">
              <label class="tab-label" for="chck3">Docker and Kubernetes training</label>
              <div class="tab-content">
                     <p>We provide a tiered training scheme around Docker and Kubernetes. All our courses are run by highly experienced engineers who will give them hands-on exposure to the lifecycle of a real application. They'll explore core aspects of Docker and Kubernetes and show how to use these technologies to provide microservices.</p>

         <p>What our Docker and Kubernetes training includes</p>

          <ul class="list-bullet">
            <li>Best practices and security approaches</li>
            <li>How to leverage containers for CI</li>
            <li>Deploying applications from a code commit</li>
            <li>Auto-scaling your apps</li>
            <li>Kubernetes add-ons like automated TLS certificates and load balancing</li>
            <li>Microservice architectural approaches with containers</li>
           </ul>

            </div>
          </div>

      <div class="tab">
              <input type="checkbox" id="chck4">
              <label class="tab-label" for="chck4">Application container platform training</label>
              <div class="tab-content">
                           <p>We provide a training scheme across different levels around your application container platform, from beginner to advanced. Our highly experienced engineers will provide a real-life example app and teach everything from metric exposure to best-practice security approaches to make you as self-sufficient as possible.</p>

          <p>What our Docker and Kubernetes training includes</p>
          <ul class="list-bullet">
            <li>Best practices and security issues like network controls and encryption</li>
            <li>How to leverage containers for CI</li>
            <li>Deploying software from a code commit and multi-environment deployments</li>
            <li>Auto-scaling your applications</li>
            <li>Add-ons like automated TLS certificates, load balancing, monitoring, logging</li>
            <li>Advanced Kubernetes debugging at component level</li>
          </ul>
            </div>
          </div>

         </div>





        <a href="/contact-us" class="button mt-2">Contact us</a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 text-center">
        <img src="/assets/img/undraw_instant_support_elxh.svg" style="width:100%; margin-top: 2em">
      </div>
    </div>

  </div>

    {{ footer.footer() }}
{% endblock %}
