{% extends 'layout.html' %}
{% block content %}

    {% import "../views/partials/nav.html" as navigation %}
    {{ navigation.nav('careers') }}

    {% import "../views/partials/headers.html" as header %}
    {{ header.nav('Terms and Conditions', [{ text: 'Terms and Conditions', link: false }], '', '0', 'background-position-2') }}


    <section class="padding-80">
        <div class="container">

            <div class="section-heading">
                <h3>Appvia Terms and Conditions</h3>
            </div>

            <p>To do ...</p>

        </div>
    </section>
{% endblock %}
