{% extends 'layout.html' %}
{% import "../views/partials/nav.html" as navigation %}
{% import "../views/partials/footer.html" as footer %}
{% import "../views/partials/breadcrumbs.html" as breadcrumb %}

{% set pageClass = 'content fixed-background' %}

{% block content %}

  {{ navigation.nav('why-appvia') }}

  {{ breadcrumb.links([{ text: 'Why Appvia?', link: false }]) }}

    <div class="page-title">
      <h1>Why Appvia?</h1>
    </div>

    <div class="center-column">


        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="hero-toplevel mt-3">

              <h2>We make sense of tech complexity</h2>
              <p>The digital landscape is changing, and changing fast. With our help, your organisation can look forward with confidence, whether your challenge is modernising and migrating or creating a new platform that allows your fledgling company to flourish.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="/assets/img/undraw_setup_wizard_r6mr.svg" style="width:80%;margin-top:4em;">
          </div>
        </div>



        <div class="row mt-4">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="/assets/img/undraw_wireframing_nxyi_a.svg" style="margin: 2em;">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="hero-toplevel">
              <h2>A modern, forward-thinking mentality</h2>
              <p>As experts in software engineering, we’ll work closely with your development and operational teams. Our products can declutter your infrastructure and give your developers the freedom to develop, letting you focus on building the apps your customers deserve. Our consultants can help shape your cloud and DevOps strategies.</p>

              <p>Right at the heart of everything we do is a dedication to DevOps best practices. That means a huge focus on testing and security. It’s also about being cloud agnostic so you can manage your apps across multiple clouds and integrations. And it means having a standardised architecture to give you software that can easily grow with your organisation.</p>

              <p>We’re constantly looking to innovate to meet your changing needs. So we set our talents to building new products to make you more efficient and effective – now and in the future.</p>

              <p>So you’re ready for tomorrow, not just today.</p>
            </div>
          </div>
        </div>


  </div>

{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}
