{% extends 'layout.html' %}
{% block content %}

    {% import "../../views/partials/nav.html" as navigation %}
    {{ navigation.nav('products') }}

    {% import "../../views/partials/headers.html" as header %}
    {{ header.nav('Products', [{ text: 'Products', link: '/products' },{ text: 'Request a Appvia Hub Demo', link: false }], '', '0', 'background-position-1') }}

    <section class="padding-80">
      <div class="container">
        <div class="section-heading">
          <h3>Hub Demo Feedback</h3>
        </div>
        <div class="row justify-content-center">
          <div class="services-block-two margin-30px-bottom xs-margin-20px-bottom text-justify col-sm-12 col-md-8">
            <p>In order to help drive product direction, we would appreciate the following feedback: </p>
            <p>* Required fields</p>
            <form method="POST" action="/products/request-submit" data-parsley-validate>
              <div class="row">
                <div class="col-md-12 mb-4">
                  <fieldset>
                    <legend>How would you rate our current Alpha product?*</legend>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" id="rating_1" value="Nice try" required data-parsley-errors-container="#rating-errors">
                        <label class="form-check-label" for="rating_1">
                          Nice try
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" id="rating_2" value="Can’t use yet...">
                        <label class="form-check-label" for="rating_2">
                          Can’t use yet...
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" id="rating_3" value="Really useful now">
                        <label class="form-check-label" for="rating_3">
                            Really useful now
                        </label>
                      </div>
                      <div id="rating-errors"></div>
                    </fieldset>
                  </div>
                  <div class="col-md-12 mb-4">
                    <fieldset>
                      <legend>What application types do your teams develop with?*</legend>
                      <div class="form-check">
                        <input class="form-check-input" name="application-types[]" type="checkbox" value="PHP" id="application-types-php" data-parsley-mincheck="1" data-parsley-errors-container="#application-types-errors" required>
                        <label class="form-check-label" for="application-types-php">
                          PHP
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" name="application-types[]" type="checkbox" value="Java" id="application-types-java" >
                        <label class="form-check-label" for="application-types-java">
                          Java
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" name="application-types[]" type="checkbox" value="Node" id="application-types-node" >
                        <label class="form-check-label" for="application-types-node">
                          Node
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" name="application-types[]" type="checkbox" value="Ruby / Rails" id="application-types-ruby_rails"  >
                        <label class="form-check-label" for="application-types-ruby_rails">
                          Ruby / Rails
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" name="application-types[]" type="checkbox" value="C #" id="application-types-c"  >
                        <label class="form-check-label" for="application-types-c">
                          C #
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input conditionals" name="application-types[]" type="checkbox" value="Other" id="application-types-other" >
                        <label class="form-check-label" for="application-types-other">
                          Other
                        </label>
                        <div class="conditional-inputs" style="display:none;">
                          <input type="text" class="form-control" name="othername" />
                        </div>
                      </div>
                      <div id="application-types-errors"></div>
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <label >Number of people in the first development team that may want to help drive our product?*</label>
                    <input class="form-control col-md-4" type="text" name="devs-in-my-team" id="devTeamNumber" required />
                  </div>
                  <div class="col-md-12">
                    <label >How many development teams in your organisation?*</label>
                    <input class="form-control col-md-4" type="text" name="dev-teams-in-org" id="devTeamsInOrg" required  />
                  </div>
                  <div class="col-md-12 mb-4">
                    <fieldset>
                      <legend>Are you already using any of the following Kubernetes Offerings?*</legend>
                      <div class="form-check">
                        <input class="form-check-input" name="offerings[]" type="checkbox" value="GKE" id="offerings_GKE" data-parsley-mincheck="1" data-parsley-errors-container="#offerings-errors" required>
                        <label class="form-check-label" for="offerings_GKE">
                          GKE (Google Kubernetes Engine)
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" name="offerings[]" type="checkbox" value="EKS" id="offerings_EKS" >
                        <label class="form-check-label" for="offerings_EKS">
                          EKS (Amazon Kubernetes Service)
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" name="offerings[]" type="checkbox" value="AKS" id="offerings_AKS" >
                        <label class="form-check-label" for="offerings_AKS">
                          AKS (Azure)
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" name="offerings[]" type="checkbox" value="KOPS" id="offerings_KOPS"  >
                        <label class="form-check-label" for="offerings_KOPS">
                          KOPS (Kubernetes Operations)
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" name="offerings[]" type="checkbox" value="No Kubernetes yet" id="offerings_no_kubernetes"  >
                        <label class="form-check-label" for="offerings_no_kubernetes">
                          No Kubernetes yet
                        </label>
                      </div>
                      <div id="offerings-errors"></div>
                    </fieldset>
                  </div>
                  <div class="col-md-12 mb-4">
                    <fieldset>
                      <legend>Are you using any of the following Cloud Providers?*</legend>
                      <div class="form-check">
                        <input class="form-check-input" name="cloud-providers[]" type="checkbox" value="Openstack" id="cloud-providers-Openstack" data-parsley-mincheck="1" data-parsley-errors-container="#cloud-providers-errors" required>
                        <label class="form-check-label" for="cloud-providers-Openstack">
                          Openstack (on prem)
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" name="cloud-providers[]" type="checkbox" value="GCP" id="offerings_GCP" >
                        <label class="form-check-label" for="offerings_GCP">
                          GCP (Google Cloud Platform)
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" name="cloud-providers[]" type="checkbox" value="EC2" id="offerings_AKS" >
                        <label class="form-check-label" for="offerings_EC2">
                          EC2 (Amazon Elastic Compute)
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" name="cloud-providers[]" type="checkbox" value="Azure" id="offerings_KOPS"  >
                        <label class="form-check-label" for="offerings_Azure">
                          Azure (MS)
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input conditionals" name="cloud-providers[]" type="checkbox" value="Other" id="cloud-providers-other"  >
                        <label class="form-check-label" for="cloud-providers-other">
                          Other
                        </label>
                        <div class="conditional-inputs" style="display:none;">
                          <input type="text" class="form-control" name="cloud-providers-other" />
                        </div>
                      </div>
                      <div id="cloud-providers-errors"></div>
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <label for="message" >Hub Feedback Comments:</label>
                    <textarea id="message" rows="8" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 character comment.." data-parsley-validation-threshold="10"></textarea>
                  </div>
                  <input type="hidden" name="email" value="{{email}}" />
                <div class="col-md-12">
                  <button type="submit"id="submit-form"class="butn"><span>Submit Request</span></button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm-12 col-md-4">
          </div>
        </div>
      </div>
    </section>

{% endblock %}

{% block customScripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.1/parsley.min.js"></script>
  <script src="/assets/fabrex/js/form.js"></script>
{% endblock %}
