{% extends 'layout.html' %}
{% import "../../views/partials/nav.html" as navigation %}
{% import "../../views/partials/breadcrumbs.html" as breadcrumb %}
{% import "../../views/partials/footer.html" as footer %}

{% set pageClass = 'content fixed-background' %}

{% block content %}

  {{ navigation.nav('products') }}

  {{ breadcrumb.links([{ text: 'Products', link: '/#products' },{ text: 'Request a Appvia Hub Demo', link: false }]) }}

  <div class="container-fluid">
    <div class="page-title">
      <h1>Hub Demo Feedback</h1>
    </div>
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="item">
          <p>In order to help drive product direction, we would appreciate the following feedback:</p>
          <small>* Required fields</small>
          <form method="POST" action="/products/hub-demo/feedback-submit" data-parsley-validate>
              <div class="row">
                  {% if(email) %}
                  <input type="hidden" name="email" value="{{email}}"/>
                  {% else %}
                  <div class="col-md-12">
                      <label for="email">Email address*</label>
                      <div id="email-errors"></div>
                      <input class="form-control col-md-6" type="text" name="email" id="email" required
                             data-parsley-errors-container="#email-errors"/>
                  </div>
                  {% endif %}
                  <div class="col-md-12 mb-4">
                      <fieldset>
                          <legend>How would you rate our current Alpha product?*</legend>
                          <div id="rating-errors"></div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="rating" id="rating_1"
                                     value="Not good, never use" required
                                     data-parsley-errors-container="#rating-errors">
                              <label class="form-check-label" for="rating_1">
                                  Not good (won’t ever use)
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="rating" id="rating_2"
                                     value="Interesting (could use in future)">
                              <label class="form-check-label" for="rating_2">
                                  Interesting (could use in the future)
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="rating" id="rating_3"
                                     value="Good (Would be happy to use now)">
                              <label class="form-check-label" for="rating_3">
                                  Good (Would be happy to use now)
                              </label>
                          </div>
                      </fieldset>
                  </div>
                  <div class="col-md-12 mb-4">
                      <fieldset>
                          <legend>What application types do your teams develop with?*</legend>
                          <div id="application-types-errors"></div>
                          <div class="form-check">
                              <input class="form-check-input" name="application-types[]" type="checkbox"
                                     value="PHP" id="application-types-php" data-parsley-mincheck="1"
                                     data-parsley-errors-container="#application-types-errors" required>
                              <label class="form-check-label" for="application-types-php">
                                  PHP
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="application-types[]" type="checkbox"
                                     value="Java" id="application-types-java">
                              <label class="form-check-label" for="application-types-java">
                                  Java
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="application-types[]" type="checkbox"
                                     value="Node" id="application-types-node">
                              <label class="form-check-label" for="application-types-node">
                                  Node
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="application-types[]" type="checkbox"
                                     value="Ruby / Rails" id="application-types-ruby_rails">
                              <label class="form-check-label" for="application-types-ruby_rails">
                                  Ruby / Rails
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="application-types[]" type="checkbox"
                                     value="C #" id="application-types-c">
                              <label class="form-check-label" for="application-types-c">
                                  C #
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input conditionals" name="application-types[]"
                                     type="checkbox" value="Other" id="application-types-other">
                              <label class="form-check-label" for="application-types-other">
                                  Other
                              </label>
                              <div id="othername-errors"></div>
                              <div class="conditional-inputs" style="display:none;">
                                  <input type="text" class="form-control col-md-6" name="application-types-other"
                                         data-parsley-errors-container="#othername-errors"/>
                              </div>
                          </div>
                      </fieldset>
                  </div>
                  <div class="col-md-12">
                      <label>Number of people in the first development team that may want to help drive our
                          product?*</label>
                      <div id="devs-in-my-team-errors"></div>
                      <input class="form-control col-md-4" type="text" name="devs-in-my-team" id="devTeamNumber"
                             data-parsley-type="digits" data-parsley-errors-container="#devs-in-my-team-errors"
                             required/>
                  </div>
                  <div class="col-md-12">
                      <label>How many development teams in your organisation?*</label>
                      <div id="dev-teams-in-org-errors"></div>
                      <input class="form-control col-md-4" type="text" name="dev-teams-in-org" id="devTeamsInOrg"
                             data-parsley-type="digits" data-parsley-errors-container="#dev-teams-in-org-errors"
                             required/>
                  </div>
                  <div class="col-md-12 mb-4">
                      <fieldset>
                          <legend>Are you already using any of the following Kubernetes Offerings?*</legend>
                          <div id="offerings-errors"></div>
                          <div class="form-check">
                              <input class="form-check-input" name="kube-offerings[]" type="checkbox" value="GKE"
                                     id="offerings_GKE" data-parsley-mincheck="1"
                                     data-parsley-errors-container="#offerings-errors" required>
                              <label class="form-check-label" for="offerings_GKE">
                                  GKE (Google Kubernetes Engine)
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="kube-offerings[]" type="checkbox" value="EKS"
                                     id="offerings_EKS">
                              <label class="form-check-label" for="offerings_EKS">
                                  EKS (Amazon Kubernetes Service)
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="kube-offerings[]" type="checkbox" value="AKS"
                                     id="offerings_AKS">
                              <label class="form-check-label" for="offerings_AKS">
                                  AKS (Azure)
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="kube-offerings[]" type="checkbox" value="KOPS"
                                     id="offerings_KOPS">
                              <label class="form-check-label" for="offerings_KOPS">
                                  KOPS (Kubernetes Operations)
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="kube-offerings[]" type="checkbox"
                                     value="No Kubernetes yet" id="offerings_no_kubernetes">
                              <label class="form-check-label" for="offerings_no_kubernetes">
                                  No Kubernetes yet
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input conditionals" name="kube-offerings[]" type="checkbox"
                                     value="Other Kubernetes" id="offerings_other_kubernetes">
                              <label class="form-check-label" for="offerings_other_kubernetes">
                                  Other Kubernetes
                              </label>
                              <div id="offerings-other-errors"></div>
                              <div class="conditional-inputs" style="display:none;">
                                  <input type="text" class="form-control col-md-6" name="kube-offerings-other"
                                         data-parsley-errors-container="#offerings-other-errors"/>
                              </div>
                          </div>
                      </fieldset>
                  </div>
                  <div class="col-md-12 mb-4">
                      <fieldset>
                          <legend>Are you using any of the following Cloud Providers?*</legend>
                          <div id="cloud-providers-errors"></div>
                          <div class="form-check">
                              <input class="form-check-input" name="cloud-providers[]" type="checkbox"
                                     value="Openstack" id="cloud-providers-Openstack" data-parsley-mincheck="1"
                                     data-parsley-errors-container="#cloud-providers-errors" required>
                              <label class="form-check-label" for="cloud-providers-Openstack">
                                  Openstack (on prem)
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="cloud-providers[]" type="checkbox" value="GCP"
                                     id="offerings_GCP">
                              <label class="form-check-label" for="offerings_GCP">
                                  GCP (Google Cloud Platform)
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="cloud-providers[]" type="checkbox" value="EC2"
                                     id="offerings_AKS">
                              <label class="form-check-label" for="offerings_EC2">
                                  EC2 (Amazon Elastic Compute)
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="cloud-providers[]" type="checkbox"
                                     value="Azure" id="offerings_KOPS">
                              <label class="form-check-label" for="offerings_Azure">
                                  Azure (MS)
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input conditionals" name="cloud-providers[]"
                                     type="checkbox" value="Other" id="cloud-providers-other">
                              <label class="form-check-label" for="cloud-providers-other">
                                  Other
                              </label>
                              <div id="cloud-providers-other-errors"></div>
                              <div class="conditional-inputs row" style="display:none;">
                                  <input type="text" class="form-control col-md-6" name="cloud-providers-specify"
                                         data-parsley-errors-container="#cloud-providers-other-errors"/>
                              </div>
                          </div>
                      </fieldset>
                  </div>
                  <div class="col-md-12 mb-4">
                      <fieldset>
                          <legend>Which of the following features would you be most interested in us prioritising?
                              (pick 3)*
                          </legend>
                          <div id="features-errors"></div>
                          <div class="form-check">
                              <input class="form-check-input" name="features[]" type="checkbox"
                                     value="Identity Teams and RBAC (across all services)"
                                     id="features-identity-teams-RBAC" data-parsley-mincheck="3"
                                     data-parsley-maxcheck="3" data-parsley-errors-container="#features-errors"
                                     required>
                              <label class="form-check-label" for="features-identity-teams-RBAC">
                                  Identity Teams and RBAC (across all services)
                              </label>
                          </div>
                          <h3 class="h6">Build Kubernetes Clusters:</h3>
                          <div class="form-check ml-4">
                              <input class="form-check-input" name="features[]" type="checkbox" value="Cloud"
                                     id="features-build-kubernete-clusters-cloud">
                              <label class="form-check-label" for="features-build-kubernete-clusters-cloud">
                                  Cloud
                              </label>
                          </div>
                          <div class="form-check ml-4">
                              <input class="form-check-input" name="features[]" type="checkbox" value="On prem"
                                     id="features-build-kubernete-clusters-on-prem">
                              <label class="form-check-label" for="features-build-kubernete-clusters-on-prem">
                                  On prem
                              </label>
                          </div>
                          <h3 class="h6">Cloud Container Registries:</h3>
                          <div class="form-check ml-4">
                              <input class="form-check-input" name="features[]" type="checkbox" value="ECR"
                                     id="features-cloud-container-registries-ecr">
                              <label class="form-check-label" for="features-cloud-container-registries-ecr">
                                  <a href="https://aws.amazon.com/ecr/" target="_blank">ECR</a>
                              </label>
                          </div>
                          <div class="form-check ml-4">
                              <input class="form-check-input" name="features[]" type="checkbox" value="ACR"
                                     id="features-cloud-container-registries-acr">
                              <label class="form-check-label" for="features-cloud-container-registries-acr">
                                  <a href="https://azure.microsoft.com/en-gb/services/container-registry/"
                                     target="_blank">ACR</a>
                              </label>
                          </div>
                          <div class="form-check ml-4">
                              <input class="form-check-input" name="features[]" type="checkbox" value="GCR"
                                     id="features-cloud-container-registries-gcr">
                              <label class="form-check-label" for="features-cloud-container-registries-gcr">
                                  <a href="https://cloud.google.com/container-registry/" target="_blank">GCR</a>
                              </label>
                          </div>
                          <h3 class="h6">Resource Status:</h3>
                          <div class="form-check ml-4">
                              <input class="form-check-input" name="features[]" type="checkbox" value="CI Status"
                                     id="features-resource-status-ci">
                              <label class="form-check-label" for="features-resource-status-ci">
                                  CI Status
                              </label>
                          </div>
                          <div class="form-check ml-4">
                              <input class="form-check-input" name="features[]" type="checkbox"
                                     value="Live Application Status" id="features-resource-status-live-status">
                              <label class="form-check-label" for="features-resource-status-live-status">
                                  Live Application Status
                              </label>
                          </div>
                          <div class="form-check ml-4">
                              <input class="form-check-input" name="features[]" type="checkbox"
                                     value="Security Status" id="features-resource-status-security-status">
                              <label class="form-check-label" for="features-resource-status-security-status">
                                  Security Status
                              </label>
                              <div style="margin-left: 2em;">
                                  <small>(e.g. <a href="https://cve.mitre.org/" target="_blank">CVE Scanning
                                      Feedback</a>)
                                  </small>
                              </div>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="features[]" type="checkbox"
                                     value="Enterprise View / Status / Data" id="features-enterprise-view">
                              <label class="form-check-label" for="features-enterprise-view">
                                  Enterprise View / Status / Data
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" name="features[]" type="checkbox"
                                     value="Kubernetes Cloud Services" id="features-kubernetes-cloud-services">
                              <label class="form-check-label" for="features-kubernetes-cloud-services">
                                  Kubernetes Cloud Services
                              </label>
                              <div style="margin-left: 2em;">
                                  <small>(e.g. <a
                                          href="https://kubernetes.io/docs/concepts/extend-kubernetes/service-catalog/"
                                          target="_blank">Service Catalogue</a>)
                                  </small>
                              </div>
                          </div>
                      </fieldset>
                  </div>
                  <div class="col-md-12">
                      <label for="message">Hub Feedback Comments:</label>
                      <div id="message-errors"></div>
                      <textarea id="message" rows="8" class="form-control" name="message" style="height: 8em;"
                                data-parsley-trigger="keyup"
                                data-parsley-minlength="20"
                                data-parsley-maxlength="300"
                                data-parsley-minlength-message="You need to enter at least a 20 character comment."
                                data-parsley-validation-threshold="10"
                                data-parsley-errors-container="#message-errors"></textarea>
                  </div>
                  <div class="col-md-12 mb-4">
                      By clicking "Submit", I agree to the Appvia <a href="/privacy-policy">Privacy Policy</a>.
                  </div>
                  <div class="col-md-12">
                      <button type="submit" id="submit-form" class="butn"><span>Submit</span></button>
                  </div>
              </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="item">
          <p>For more specific feedback (bugs or feature requests) please rasie an issue on GitHub.</p>
          <p>
            <a class="github-button" href="https://github.com/appvia/appvia-hub/issues" data-size="large" aria-label="Issue appvia/appvia-hub on GitHub">Issue</a>
          </p>
          <hr/>
          <p>If you want to track our progress watch appvia/appvia-hub project on Github.</p>
          <p>
            <a class="github-button" href="https://github.com/appvia/appvia-hub" aria-label="Watch appvia/appvia-hub project" data-size="large">Watch appvia/appvia-hub project</a>
          </p>
          <hr/>
          <p>If you like what you see rate us on GitHub.</p>
          <p>
            <a class="github-button" href="https://github.com/appvia/appvia-hub" aria-label="Star appvia/appvia-hub on GitHub" data-size="large">Star</a>
          </p>
          <hr/>
          <p>If you need some help to use the product (during normal office hours) contact us from within the demo via the live chat. Look for this icon on the bottom right <img src="/img/crisp-logo.png" alt="Crisp Chat Logo" width="26">.
          </p>
          <p>If you want to extend the time for the demo (we currently delete it after two weeks).</p>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}

{% block customScripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.1/parsley.min.js"></script>
    <script src="/assets/javascript/form.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}
