{% extends 'layout.html' %}
{% import "../../views/partials/nav.html" as navigation %}
{% import "../../views/partials/breadcrumbs.html" as breadcrumb %}
{% import "../../views/partials/footer.html" as footer %}

{% set pageClass = 'content fixed-background' %}

{% block content %}

  {{ navigation.nav('products') }}

  <div class="center-column">
    {{ breadcrumb.links([{ text: 'Products', link: '/#products' },{ text: 'Integration Setup Admin Pages', link: false }]) }}
    <div class="page-title">
      <h1>Integration Setup Admin Pages</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="item">
            <p>Although you won't have access to administer the Demo Hub we've setup, we have setup integrations for
                you. Currently, the Hub supports the following Integration types:</p>
            <ul class="list-bullet">
                <li>Code repositories</li>
                <li>Docker repositories</li>
                <li>Kubernetes namespaces</li>
                <li>Monitoring dashboards</li>
                <li>Logging dashboards</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="item">
            <img src="/img/The_Hub_Integrations.png" alt="The Hub Screenshot" style="width:100%">
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="item">
            <p>The Hub allows for multiple integrations of each type to be deployed but for demo purposes we've
                pre-configured the following:</p>
            <ul class="list-bullet">
                <li>GitHub (code repositories in a demo github org)</li>
                <li>Quay (docker repositories)</li>
                <li>A custom Dedicated GKE Kubernetes Cluster for you to create namespaces in</li>
                <li>Grafana (prometheus) for Monitoring</li>
                <li>Loki (also Grafana) for Logging</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="item">
            <img src="/img/Create_a_new_Integration.jpg" alt="The Hub Screenshot integrations" style="width:100%">
          </div>
        </div>
    </div>
  </div>


{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}
