{% extends 'layout.html' %}
{% import "../../views/partials/nav.html" as navigation %}
{% import "../../views/partials/breadcrumbs.html" as breadcrumb %}
{% import "../../views/partials/footer.html" as footer %}

{% set pageClass = 'content background-fixed background-7' %}

{% block content %}

  {{ navigation.nav('products') }}

  <div class="center-column">
  {{ breadcrumb.links([{ text: 'Products', link: '/#products' },{ text: 'Hub Demo Instructions', link: false }]) }}
    <div class="page-title">
      <h1>Hub Demo Instructions</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 ">
          <div class="item">
            <form data-parsley-validate method="GET" action="/products/hub-demo/my-demo">
              <p>As we create an isolated place for you to test the Hub, we need to use your signup email for your access to the demo.</p>
                <label for="email"><strong>Signup email</strong></label>
                <div class="help-text">Please provide the email address you used when signing up for the demo</div>
                <div id="email-errors"></div>
                <div class="row">
                  <div class="col-md-12">
                    <input class="form-control col-md-8" type="text" name="email" id="email" required value="{{email}}" data-parsley-errors-container="#email-errors" />
                  </div>
                  <div class="col-md-12">
                    <small>By clicking "Access Hub Demo", I agree to the Appvia <a href="/privacy-policy">Privacy Policy</a>.</small>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" id="submit-form" class="button">Access Hub Demo</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="item">
            <img src="/img/hub-screenshot.png" alt="The Hub Screenshot" style="width:100%;">
          </div>
        </div>
    </div>

  </div>
{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}

{% block customScripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.1/parsley.min.js"></script>
    <script src="/assets/javascript/form.js"></script>
{% endblock %}
