{% extends 'layout.html' %}
{% import "../../views/partials/nav.html" as navigation %}
{% import "../../views/partials/breadcrumbs.html" as breadcrumb %}
{% import "../../views/partials/footer.html" as footer %}

{% set pageClass = 'content background-fixed background-4' %}

{% block content %}

  {{ navigation.nav('products') }}

  <div class="center-column">
    {{ breadcrumb.links([{ text: 'Products', link: '/#products' },{ text: 'Request a Appvia Hub Demo', link: false }]) }}
    <div class="page-title">
      <h1>Your demo request has been sent</h1>
    </div>
    <p>We will create a dedicated hub instance for you to evaluate. This will be deleted in 14 Days.</p>
    <p>You can request more evaluation time by emailing <a href="mailto:hub-demo@appvia.io" style="white-space:nowrap">hub-demo@appvia.io</a> or use the support chat within the demo.</p>
    <p>Please check your email for your new hub demo*.</p>
    <div class="small">
      <p>* We aim to provide you a custom demo instance within 24 hours although it should be significantly sooner.</p>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}
