{% extends 'layout.html' %}
{% import "../../views/partials/nav.html" as navigation %}
{% import "../../views/partials/breadcrumbs.html" as breadcrumb %}
{% import "../../views/partials/footer.html" as footer %}

{% set pageClass = 'content background-fixed background-2' %}

{% block content %}

  {{ navigation.nav('products') }}

  <div class="center-column">
    {{ breadcrumb.links([{ text: 'Products', link: '/products' },{ text: 'Appvia Hub', link: '/products/hub' },{ text: 'Request Pending', link: false }]) }}
    <div class="page-title sub-page">
      <h1>Request Pending</h1>
    </div>
    <div class="row">
      <div class="col-12 blog-body">
        <h2 class="sub-title">Thank you for your interest, we will contact you shortly.</h2>
        <a href="/products/hub" class="back-link"><i class="fa fa-angle-left"></i>Back</a>
      </div>
    </div>
  </div>

  {{ footer.footer() }}

{% endblock %}
