{% extends 'layout.html' %}
{% import "../../views/partials/nav.html" as navigation %}
{% import "../../views/partials/breadcrumbs.html" as breadcrumb %}
{% import "../../views/partials/footer.html" as footer %}

{% set pageClass = 'content fixed-background' %}

{% block content %}

  {{ navigation.nav('products') }}

  {{ breadcrumb.links([{ text: 'Products', link: '/#products' },{ text: 'Request a Appvia Hub Demo', link: false }]) }}

  <div class="container-fluid">
    <div class="page-title">
      <h1>{{ title }}</h1>
    </div>
    <h2 class="text-center">Thank you for your interest, we will contact you shortly.</h2>
  </div>

{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}
