{% extends 'layout.html' %}
{% import "../../views/partials/nav.html" as navigation %}
{% import "../../views/partials/breadcrumbs.html" as breadcrumb %}
{% import "../../views/partials/footer.html" as footer %}

{% set pageClass = 'content background-fixed background-2' %}

{% block content %}

  {{ navigation.nav('products') }}

  <div class="center-column">
    {{ breadcrumb.links([{ text: 'Products', link: '/products' },{ text: 'Request a Appvia Hub Demo', link: false }]) }}
    <div class="page-title">
      <h1>Request Pending</h1>
      <h2 class="sub-title">Thank you for your interest, we will contact you shortly.</h2>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ footer.footer() }}
{% endblock %}
